
.classe1   
	{
		background: #00BFFF;
		color: white;
		text-decoration: none;
		border-radius: 5px;
		
	}

#form
	{
		background: rgba(0,0,16,0.5); 
		color: white;
		border-radius: 5px;
	}

#cadastro
	{
		background: #00BFFF; 
		color: white;
		border-radius: 5px;
	}

#mensagem
	{
		background: #00BFFF; 
		color: white;
		border-radius: 25px;
		width: 45%;
	}

#fotoPerfil
	{
		border-radius: 32px;
	}

.botaoEnviar 
	{
		background: green;
		color: white;
		border: green;
		border-radius: 4px;
	}

	.menuSuspenso 
	{
		background: green;
		color: white;
		border: green;
		border-radius: 14px;
	}

