BODY {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px
}
A {
	COLOR: #336699; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}



.m_titulo1 {
	color: #000080; FONT-FAMILY: Arial, sans-serif; line-height:200%; FONT-SIZE: 14pt; FONT-WEIGHT: bold; text-align: left; text-indent: 1cm
}
.m_titulo2 {
	color: #31659c; FONT-FAMILY: Arial, sans-serif; margin-top: 6; FONT-SIZE: 14pt; FONT-WEIGHT: bold; text-align: left; text-indent: 17pt
}
.m_titulo3 {
	color: #31659c; FONT-FAMILY: Arial, sans-serif; margin-top: 6; FONT-SIZE: 12pt; FONT-WEIGHT: bold; text-align: left; text-indent: 17pt
}
.m_titulo3.5 {
	color: #31659c; FONT-FAMILY: Courier New, Courier; margin-top:0; margin-bottom:0; FONT-SIZE: 12pt; FONT-WEIGHT: bold; text-align: left; text-indent: 16pt
}
.m_titulo4 {
	color: #31659c; FONT-FAMILY: Arial, sans-serif; margin-top: 0; margin-bottom:0; FONT-SIZE: 12pt; FONT-WEIGHT: text-align: center; text-indent: 1cm; TEXT-DECORATION: underline; line-height: 100% 
}
.m_titulo5 {
	color: #31659c; FONT-FAMILY: Arial, sans-serif; margin-top: 0; margin-bottom:0; FONT-SIZE: 10pt; FONT-WEIGHT: text-align: left; text-indent: 1cm; FONT-WEIGHT: bold; line-height: 100% 
}
.m_texto {
	FONT-FAMILY: Arial, sans-serif; margin-top: 6; margin-bottom:0; margin-right: 10px; margin-left: 0cm; FONT-SIZE: 10pt; text-align: justify; FONT-WEIGHT: normal; text-indent: 1cm; line-height: 150%
}
.m_texto0 {
	FONT-FAMILY: Arial, sans-serif; margin-top: 6; margin-bottom:0; margin-right: 10px; margin-left: 0cm; FONT-SIZE: 10pt; text-align: justify; FONT-WEIGHT: normal; text-indent: 1cm; line-height: 100%
}
.m_codigo {
	FONT-FAMILY: Courier New, Courier; margin-top: 6; margin-bottom:0; margin-right: 10px; margin-left: 0cm; FONT-SIZE: 10pt; text-align: left; FONT-WEIGHT: normal; text-indent: 16pt
}
.m_hiperlnk {
	color: blue; FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 10pt; margin-bottom:10; TEXT-DECORATION: underline; FONT-WEIGHT: bold; text-indent: 2cm
}