body { 
  width: 750px;
  color: #ffffff;
  font-family: arial; verdana; 
  font-size: 10pt;
  background-color: #000066; 
  background-image: url(fig/bgdicas.jpg);
}
h1 {
  color:#33ff33;
  font-family: arial; verdana; 
  font-size: 11pt;
}
h2 {
  font-weight: bold;
  color:#ffffff;
  font-family: arial; verdana; 
  font-size: 10pt;
}
h3 {
  font-style: italic;
  font-weight: normal;
  color:#ffffff;
  font-family: arial; verdana; 
  font-size: 10pt;
}
p {
  color: #ffffff;
  font-family: arial; verdana; 
  font-size: 10pt;
  margin:0px;
  padding:2px 5px;
}
em  {
font-style: normal;
color:#33ff33;
}
tr {
  font-size: 10pt;
}
   a:link { color:#00ffff; text-decoration: none }
   a:hover { color:#77ff99; text-decoration: underline }
   a:visited { color:#ccffff; text-decoration: none }
