/*
    Colorbox Core Style: 
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper { position: absolute; top: 0; left: 0; z-index: 9999; overflow: hidden }
#cboxOverlay { position: fixed; width: 100%; height: 100% }
#cboxMiddleLeft, #cboxBottomLeft { clear: left }
#cboxContent { position: relative }
#cboxLoadedContent { overflow: auto; -webkit-overflow-scrolling: touch }
#cboxTitle { margin: 0 }
#cboxLoadingOverlay, #cboxLoadingGraphic { position: absolute; top: 0; left: 0; width: 100%; height: 100% }
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor: pointer }
.cboxPhoto { float: left; margin: auto; border: 0; display: block; max-width: none; -ms-interpolation-mode: bicubic }
.cboxIframe { width: 100%; height: 100%; display: block; border: 0 }
#colorbox, #cboxContent, #cboxLoadedContent { box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box }

/* 
    User Style: 
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay { background: #000 }
#colorbox { outline: 0 }
    #cboxTopLeft { width: 25px; height: 25px }
    #cboxTopCenter { height: 25px }
    #cboxTopRight { width: 25px; height: 25px }
    #cboxBottomLeft { width: 25px; height: 25px }
    #cboxBottomCenter { height: 25px }
    #cboxBottomRight { width: 25px; height: 25px }
    #cboxMiddleLeft { width: 25px }
    #cboxMiddleRight { width: 25px }
    #cboxContent {  background: #fff }

        #cboxWrapper { background-color: #FFF; padding-bottom: 5px }

        .cboxIframe { background: #fff }
        #cboxError { padding: 50px; border: 1px solid #ccc }
        #cboxLoadedContent { margin-bottom: 5px }
        #cboxTitle { bottom: -25px; clear: both; color: #515151; font-family: trebuchet ms; font-size: 1.4em; left: 0; padding-bottom: 5px; position: absolute; text-align: center; vertical-align: middle; width: 100% }
        #cboxCurrent { position: absolute; bottom: 0px; left: 100px; color: #999 }
        #cboxLoadingOverlay { background: #fff url(images/loading.gif) no-repeat 5px 5px }

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose  { border: 0; padding: 0; margin: 0; overflow: visible; width: auto; background: none }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on : focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active  { outline: 0 }

        #cboxSlideshow { display: none }
        #cboxPrevious, #cboxNext { background: url(../../content/img/setas-colorbox.png) no-repeat; bottom: 40%; font-size: 0; height: 71px; line-height: 0; position: absolute; text-indent: -5000em; width: 55px }
        #cboxPrevious { background-position: top left; left: 0 }
        #cboxPrevious:hover { background-position: bottom left }
        #cboxNext { background-position: top right; right: 0 }
        #cboxNext:hover { background-position: bottom right }
        #cboxClose { background: url(../../content/img/fechar-colorbox.gif) no-repeat; display: block; font-size: 0; height: 35px; line-height: 0; position: absolute; right: -25px; text-indent: -5000em; top: -25px; width: 35px; }
        #cboxClose:hover { background-position: 0 -35px }

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http: //jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight  { 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); 
}