@-ms-viewport{width:auto!important}
@font-face{font-family:'Conv_Nexa Bold';src:url('fonts/Nexa Bold.eot');src:local('?'),
url('fonts/Nexa Bold.woff') format('woff'),
url('fonts/Nexa Bold.ttf') format('truetype'),
url('fonts/Nexa Bold.svg') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'Conv_Nexa Light';src:url('fonts/Nexa Light.eot');src:local('?'),
url('fonts/Nexa Light.woff') format('woff'),
url('fonts/Nexa Light.ttf') format('truetype'),
url('fonts/Nexa Light.svg') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'Conv_ProximaNova-Light';src:url('fonts/ProximaNova-Light.eot');src:local('?'), url('fonts/ProximaNova-Light.woff') format('woff'), url('fonts/ProximaNova-Light.ttf') format('truetype'), url('fonts/ProximaNova-Light.svg') format('svg');font-weight:normal;font-style:normal;}
*{-webkit-tap-highlight-color:transparent;}
html, body{height:100%;margin:0;}
.dm-shell{min-height:100%;position:relative;}
.opacity{display:none;position:fixed;background:#000;top:0;width:100%;height:100%;opacity:0.50;z-index:9998;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);}
header{padding-bottom:45px;}
header nav.lateral{position:fixed;display:none;top:0px;overflow-x:hidden;width:100%;height:100%;z-index:9999;}
header nav.lateral>ul{position:relative;z-index:9999;}
header nav.lateral ul{background:#302F31;margin:0;padding:0;width:300px;height:100%;color:#888;border:0px solid #000;}
header nav.lateral>ul ul{position:relative;display:block;}
header nav.lateral>ul li{list-style:none;border-bottom:0px;background:#302F31;outline:none;}
header nav.lateral>ul>li>strong>a{color:#222;text-shadow:0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);text-decoration:none;}
header nav.lateral>ul li>a{display:block;box-shadow:inset 0 -1px rgba(0,0,0,0.2);text-shadow:0 0 1px rgba(255,255,255,0.1);font:normal normal 14px/20px arial;color:#999;padding:14px 1em 14px 1.8em;outline:none;text-transform:uppercase;text-decoration:none;-webkit-transition:background 0.3s, box-shadow 0.3s;-moz-transition:background 0.3s, box-shadow 0.3s;transition:background 0.3s, box-shadow 0.3s;-webkit-transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;-o-transition:all 300ms ease-out;transition:all 300ms ease-out;}
header nav.lateral>ul li>a:hover{background:rgba(0,0,0,0.2);box-shadow:inset 0 -1px rgba(0,0,0,0);color:#CCC;outline:none;-webkit-transition:background 0.3s, box-shadow 0.3s;-moz-transition:background 0.3s, box-shadow 0.3s;transition:background 0.3s, box-shadow 0.3s;-webkit-transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;-o-transition:all 300ms ease-out;transition:all 300ms ease-out;}
header nav.lateral>ul li>a:focus{outline:none;}
header nav.lateral>ul>li ul{overflow:hidden;position:absolute;top:0;width:87%;height:100%;box-shadow:1px 0 2px rgba(0,0,0,0.2);padding:0;-webkit-transform:translate(-300px, 0);-moz-transform:translate(-300px, 0);transform:translate(-300px, 0);opacity:0;-webkit-transition:-webkit-transform 100ms,opacity 100ms;-moz-transition:-moz-transform 100ms,opacity 100ms;-ms-transition:transform 100ms,opacity 100ms;-o-transition:transform 100ms,opacity 100ms;transition:transform 100ms,opacity 100ms;}
header nav.lateral>ul ul.active{overflow:visible;-webkit-transform:translate(0, 0);-moz-transform:translate(0, 0);transform:translate(0, 0);opacity:1;-webkit-transition:-webkit-transform 100ms,opacity 100ms;-moz-transition:-moz-transform 100ms,opacity 100ms;-ms-transition:transform 100ms,opacity 100ms;-o-transition:transform 100ms,opacity 100ms;transition:transform 100ms,opacity 100ms;}
header nav.lateral>ul span{background:url(//www.devmedia.com.br/Imagens/2013/glyphicons-halflings-white.png) no-repeat -456px -72px;float:right;width:14px;height:14px;}
header nav.lateral>ul strong{display:block;}
header nav.lateral>ul h2,header nav.lateral>ul h5{color:#CCC;font:normal normal 15px/20px Arial;}
.titulo_menu_itens{padding:0 10px;font-size:22px !important;color:#ccc;font-family:conv_nexa light !important;margin:40px auto 22px auto !important;text-transform:uppercase;}
header nav.lateral>ul h2 span,header nav.lateral>ul h5 span,header nav.lateral>ul strong span{background:none;float:none;font-size:30px;}
header nav.lateral>ul h2 a,header nav.lateral>ul strong{font:normal normal 30px/30px 'Conv_Nexa bold', Arial, Tahoma;color:#454545;padding:15px 0 23px 15px;box-shadow:none;}
header nav.lateral>ul>li>strong>.font-dev,header nav.lateral>ul>li>strong>.font-media{line-height:130%;}
header nav.lateral>ul strong span.font-media{padding:15px 0 15px 0;font:normal normal 30px/30px 'Conv_Nexa light', Arial, Tahoma;}
header nav.lateral>ul strong{padding-top:28px;font-weight:400;cursor:default;-webkit-transition:all 100ms;-moz-transition:all 200ms;-ms-transition:all 200ms;-o-transition:all 200ms;transition:all 200ms;}
header nav.lateral>ul strong:hover{-webkit-transition:all 100ms;-moz-transition:all 200ms;-ms-transition:all 200ms;-o-transition:all 200ms;transition:all 200ms;}
header nav.lateral>ul strong span.font-dev,header nav.lateral>ul strong span.font-media{-moz-transition:all 200ms;-ms-transition:all 200ms;-o-transition:all 200ms;transition:all 200ms;}
header nav.lateral>ul strong span.font-dev{font-weight:300;}
header nav.lateral>ul h2:hover,header nav.lateral>ul h2:hover a,header nav.lateral>ul strong:hover{color:#ffffff;text-shadow:0 0 5px rgba(255,255,255,0.5);font-weight:300;text-decoration:underline;-webkit-transition:all 100ms;-moz-transition:all 100ms;-ms-transition:all 100ms;-o-transition:all 100ms;transition:all 100ms;}
header nav.lateral>ul strong:hover{text-decoration:none;}
header nav.lateral>ul strong:hover span{color:#ffffff;}
header nav.lateral>ul h5{padding:0 10px;font-size:22px;color:#4f4f4f;font-family:conv_nexa light;margin:40px auto 22px auto;text-transform:uppercase;}
header nav.lateral>ul h5.username{padding:9px 10px 15px 0;font-size:15px;margin:14px auto;}
header nav.lateral>ul p{font:normal normal 13px/20px verdana;color:#888888;margin:30px 10px 20px 10px;}
header nav.lateral>ul a.back{background:rgba(0,0,0,0.1);box-shadow:inset 0 1px rgba(0,0,0,0.1);padding:12px;font-size:11px;font-weight:bold;color:#fff;border-left:5px solid #444;}
header nav.lateral>ul img{vertical-align:top;margin:0 15px;width:45px;height:45px;float:left;-webkit-border-radius:2px;border-radius:2px;}
header nav.lateral .icon{cursor:pointer;background:url(//www.devmedia.com.br/imagens/2013/glyphicons-halflings-white.png) no-repeat 0 0;background-size:14px !important;float:right;margin:12px 12px 0 0;width:15px;height:15px;}
header nav.lateral .icon2{height:15px;width:15px;background-size:14px !important;margin:2px 10px 0 0;float:left;}
header nav.lateral .home{background-position:0px -24px;background-size:inherit !important;}
header nav.lateral .user{background-position:-168px 0px;background-size:inherit !important;}
header nav.lateral .wrench{background-position:-360px -144px;background-size:inherit !important;}
header nav.lateral .shopping-cart{background-position:-360px -120px;background-size:inherit !important;}
header nav.lateral .dashboard{background:url(//www.devmedia.com.br/imagens/2013/dash.png) no-repeat;}
header nav.lateral .tecnologia{background:url(//www.devmedia.com.br/imagens/2013/tecnologias.png) no-repeat;}
header nav.lateral .revistas{background:url(//www.devmedia.com.br/imagens/2013/revistas.png) no-repeat;}
header nav.lateral .cursos{background:url(//www.devmedia.com.br/imagens/2013/cursos.png) no-repeat;}
header nav.lateral .pocketvideos{background:url(//www.devmedia.com.br/imagens/2013/poketvideos.png) no-repeat;}
header nav.lateral .devware{background:url(//www.devmedia.com.br/imagens/2013/devware.png) no-repeat;}
header nav.lateral .recomendado{background:url(//www.devmedia.com.br/imagens/2013/iphone.png) no-repeat;}
header nav.lateral .forum{background:url(//www.devmedia.com.br/imagens/2013/forum.png) no-repeat;}
header nav.lateral .servicos{background:url(//www.devmedia.com.br/imagens/2013/servicos.png) no-repeat;}
header nav.lateral .publicar{background:url(//www.devmedia.com.br/imagens/2013/publicar.png) no-repeat;}
header nav.lateral .mvp{background:url(//www.devmedia.com.br/imagens/2013/mvp.png) no-repeat;}
header nav.lateral .app{background:url(//www.devmedia.com.br/imagens/2013/app.png) no-repeat;}
header nav.lateral .comprar{background:url(//www.devmedia.com.br/imagens/2013/comprar.png) no-repeat;}
header nav.lateral .logout{background:url(//www.devmedia.com.br/imagens/2013/logout.png) no-repeat;}
header nav.lateral .atendimento{background:url(//www.devmedia.com.br/imagens/2013/atendimento.png) no-repeat;}
header nav.lateral .guias{background:url(//www.devmedia.com.br/imagens/2013/guias.png) no-repeat;}
header .logout,
header .comprar,
header .mvp,
header .publicar,
header .servicos,
header .recomendado,
header .forum,
header .devware,
header .pocketvideos,
header .cursos,
header .revistas,
header .tecnologia,
header .dashboard{height:15px;width:15px;background-size:15px!important;margin:2px 10px 0 0;float:left;}
header h5>.logout,
header h5>.comprar,
header h5>.mvp,
header h5>.publicar,
header h5>.servicos,
header h5>.recomendado,
header h5>.forum,
header h5>.devware,
header h5>.pocketvideos,
header h5>.cursos,
header h5>.revistas,
header h5>.tecnologia,
header h5>.dashboard{height:15px;width:15px;background-size:15px!important;margin:0px 10px 0 0!important;float:right;}
::selection,::-moz-selection{background:#49c5bf;color:#fff;}
span.badge_new{font-size:10px;vertical-align:bottom;background-color:#ff0a0a;padding:0.2em;}
.dm-cor1{background-color:#302f31;}
.dm-cor2{background-color:#49c5bf;}
.dm-cor3{background-color:#8CC53E;}
.dm-cor4{background-color:#F2F5F7;}
.dm-cor5{background-color:#ffffff;}
.dm-cor6{background-color:#282828;}
.dm-log-mobspace{margin-top:20px;color:#ffffff;text-align:center;padding-left:10px;padding-right:10px;}
.revelar.dm-cor5{border-bottom:1px solid rgba(45, 45, 45, 0.2);}
.dm-bgnav{width:100%;z-index:4;background:url(//www.devmedia.com.br/imagens/2013/494949.png) repeat-x #FFF;top:0px;-webkit-box-shadow:inset 0px -2px 0px 0px #494949;box-shadow:inset 0px -2px 0px 0px #494949;}
.dm-bgnav-out{position:fixed;width:100%;z-index:120;min-height:50px;top:0px;}
.font-media{font-family:'Conv_Nexa Light', Arial, Tahoma;text-transform:uppercase;}
.font-dev{font-family:'Conv_Nexa Bold', Arial, Tahoma;text-transform:uppercase;}
.devmenu a{text-decoration:none;}
.devmenu{border:0px;position:relative;margin:0 !important;padding:0!important;line-height:20px;text-transform:uppercase;font-family:Arial, Tahoma;}
.devmenu ul,devmenu li{list-style:none;}
header>nav>div>div>div>span>ul.menucel>li>ul.submenu{display:block;opacity:0;max-height:0;max-width:300;}
header>nav>div>div>div>i{float:left;width:50px;background-image:url(//www.devmedia.com.br/imagens/2013/menu.png);}
header>nav>div>div>div>i>a:hover{background-image:url(//www.devmedia.com.br/imagens/2013/menuhover.png);}
header>nav>div>div>div>span>ul.menucel small{font-family:'Conv_ProximaNova-Light', Arial, Tahoma;font-size:11px;display:inline-block;padding-bottom:3px;vertical-align:top;line-height:160%;}
.navspace{text-transform:uppercase;margin-left:65px;}
.navspace:hover{background-color:transparent;display:inline-block;}
.ativo,
.ativo2,
.ativo3{height:50px;display:inline-block;background-color:transparent;}
.ativo:hover{height:405px;}
.ativo2:hover{height:373px;}
.ativo3:hover{height:260px !important;}
.ativo:hover > li,.ativo2:hover > li,.ativo3:hover > li{background-color:#FFF;}
.ativo3:hover .menulink{color:#494949;}
.menucel{margin:0;padding:0;display:block;position:relative;height:50px;float:left;transition-delay:0.1s;-webkit-transition-delay:0.1s;-o-transition-delay:0.1s;-moz-transition-delay:0.1s;-ms-transition-delay:0.1s;}
.menucel:hover .submenu{transition-delay:0.1s;-webkit-transition-delay:0.1s;-o-transition-delay:0.1s;-moz-transition-delay:0.1s;-ms-transition-delay:0.1s;opacity:1;max-width:300px;max-height:400px;padding:25px 0 0 0;}
.menucel a.menulink{padding:15px;display:block;border:0px;color:#ffffff;}
.menucel a.menulink:hover{padding:15px;display:block;border:0px;color:#494949;background-color:#fff;}
.menucel a.menulink2{padding:15px;display:block;border:0px;color:#ffffff;}
.menucel a.menulink2:hover{color:#494949;background-color:#fff;}
.devmenu>i{display:block;position:relative;height:50px;}
.devmenu>i>a{background-image:url(//www.devmedia.com.br/imagens/2013/menu-white.png);height:50px;display:block;border:0px;color:#ffffff;}
.devmenu>i>a:hover{display:block;border:0px;background:url(//www.devmedia.com.br/imagens/2013/menu.png);}
.devmenu>span>a{display:none;}
.submenu{position:absolute;top:50px;padding:0;max-width:300px;overflow:hidden;z-index:0;}
.devmenu .submenu>li a{margin:0px;padding:5px 10px;display:block;width:100%;color:#494949;border-bottom:1px solid #ffffff;z-index:0;}
.devmenu .submenu>li a:hover{color:#7BAC3B;}
.devmenu .submenu>li a,
.submenu,
.devmenu>i>a:hover,
.devmenu>i>a,
.menucel a.menulink2:hover,
.menucel a.menulink2,
.menucel a.menulink:hover,
.menucel a.menulink{font-size:14px;-webkit-transition:all 150ms ease-out;-moz-transition:all 150ms ease-out;-ms-transition:all 150ms ease-out;-o-transition:all 150ms ease-out;transition:all 150ms ease-out;}
a.btn-dm-nav{margin-top:10px;}
a.btn-dm-nav{color:#ffffff;display:table;border:none;padding:5px 8px;background-color:#494949!important;font-size:12px!important;font-weight:inherit;font-family:Arial, Tahoma;-webkit-border-radius:0px!important;border-radius:0px!important;-webkit-transition:all 200ms linear;-moz-transition:all 200ms linear;-ms-transition:all 200ms linear;-o-transition:all 200ms linear;transition:all 200ms linear;}
a.btn-dm-nav:hover{border-bottom:2px solid #49c5bf;background-color:#282828;-webkit-border-radius:0px;border-radius:0px;-webkit-transition:all 200ms linear;-moz-transition:all 200ms linear;-ms-transition:all 200ms linear;-o-transition:all 200ms linear;transition:all 200ms linear;}
.login-box{position:relative;z-index:10;}
.login-name{color:#FFF;text-transform:capitalize;padding:11px 15px 0 8px;display:inline-flex;}
.login-box>.login-btn>label>img{height:40px;width:40px;-webkit-box-shadow:0px 0px 3px 0px #34A59F;box-shadow:0px 0px 3px 0px #34A59F;-webkit-border-radius:2px 2px 0px 0px;border-radius:2px 2px 0px 0px;}
.login-box button, .login-box input, .login-box textarea{vertical-align:middle;}
.login-box .seta{width:18px;height:10px;position:absolute;top:-8px;right:20px;}
.login-box .seta2{background:url(//www.devmedia.com.br/imagens/2013/popoverarrow2.png) no-repeat;width:18px;height:10px;position:absolute;top:-9px;right:11px;}
.login-box>.login-btn>.cadastre-se,
.login-box>.login-btn>.baixe-app{float:left;color:#ffffff;text-transform:initial;margin:8px 8px 0 0;padding:6px 15px;border:2px solid #FFF;font-size:14px;line-height:1.2;}
.login-box>.login-btn>.baixe-app{border:none;font-size:12px;margin:6px 8px 0 0;padding:10px 15px 8px 15px;position:relative;top:2px;}
.login-box>.dm-5pxtop .baixe-app{border:2px solid transparent;color:#ffffff;float:left;font-size:12px;line-height:1.2;margin:0 8px 0 0;padding:10px 15px 8px 15px;text-transform:initial;}
.login-box>.login-btn .esqueci-senha-full{margin-top:-10px;font-weight:normal;text-transform:none;color:#FFF;text-align:center;position:absolute;right:0;padding:0 15px;}
.esqueci-senha{font-weight:normal !important;margin:10px 0 0 10px !important;text-align:left;text-transform:none !important;width:100% !important;}
.login-box>.login-btn>.cadastre-se:hover,
.login-box>.login-btn>.baixe-app:hover{background-color:#fff;color:#454545;}
.login-box>.dm-5pxtop{margin-top:5px;}
.login-box>.login-btn .popover1{float:left;color:#ffffff;text-transform:initial;margin:8px 8px 0 0;padding:6px 15px;border:2px solid #FFF;background-color:#454545;font-size:14px;line-height:16px;cursor:pointer;font-family:Arial, Tahoma;}
.login-box>.login-btn .popover1:hover{background-color:#fff;color:#454545;}
.login-box .login-btn .popover2{float:right;vertical-align:middle;background-color:rgba(255, 255, 255, 0.8);margin:0;line-height:0px;-webkit-border-radius:2px;border-radius:2px;width:40px;height:40px;}
.login-box>.login-btn .popover2:hover{-webkit-border-radius:2px;border-radius:2px;background-color:rgba(255, 255, 255, 0.3);}
.login-box>.login-btn>.cadastre-se,
.login-box>.login-btn>.cadastre-se:hover,
.login-box>.login-btn>.baixe-app,
.login-box>.login-btn>.baixe-app:hover,
.login-box>.login-btn>.popover1,
.login-box>.login-btn>.popover1:hover,
.login-box .login-btn>.popover2,
.login-box>.login-btn>.popover2:hover,
.login-box>.login-btn .esqueci-senha-full,
.login-box>.login-btn .esqueci-senha-full:hover{-o-transition:all 100ms ease-out;-webkit-transition:all 100ms ease-out;-moz-transition:all 100ms ease-out;-ms-transition:all 100ms ease-out;transition:all 100ms ease-out;}
.login-box>.login-btn>.popover2>img{cursor:pointer;max-height:40px;max-width:40px;-webkit-border-radius:2px;border-radius:2px;margin:0px auto;display:block;}
.login-box>.login-btn>.pai>.login-pop>.login-form>ul.user-foto{padding:0;margin:11px 0 -24px 0;float:left;}
.login-box>.login-btn>.pai>.login-pop>.login-form>ul.user-foto>li>{margin:11px 0 -24px 0;}
.login-box>.login-btn>.pai>.login-pop>.login-form>ul.user-foto>li{background:#fff;width:96px;height:96px;display:table-cell;vertical-align:middle;-webkit-border-radius:2px;border-radius:2px;}
.login-box>.login-btn>.pai>.login-pop>.login-form>ul.user-foto>li>img{-webkit-border-radius:2px;border-radius:2px;max-height:96px;max-width:96px;display:table-cell;vertical-align:middle;margin:0 auto;border:none;}
.login-box>.login-btn>.pai>.login-pop>.login-form>ul.user-dados{width:340px;float:right;margin:11px 0 0 0;line-height:1;padding:0;text-align:left;}
.login-box>.login-btn>.pai>.login-pop>.login-form>ul.user-dados>li.dm-u-nome{font-size:11px;}
.login-box>.login-btn>.pai>.login-pop>.login-form>ul.user-dados>li.dm-u-nome{color:#494949;display:block;height:29px;font-size:16px;text-transform:none;}
.login-box>.login-btn>.pai>.login-pop>.login-form>ul.user-dados>li.dm-u-conta{width:54px;float:right;margin-top:0px;}
.login-box>.login-btn>.pai>.login-pop>.login-form>ul.user-dados>li.dm-u-conta>a>img{border:none;width:auto\9;height:auto;max-width:100%;}
.login-box>.login-btn>.pai>.login-pop>.login-form>ul.user-dados>li.dm-u-logout>a{padding:7px 22px;float:left;font-family:Arial, Tahoma;font-weight:bolder;font-size:11px;border:none;color:#fff;display:block;position:relative;top:40px;background-color:#494949;text-transform:capitalize;}
.login-box>.login-btn>.pai>.login-pop>.login-form>ul.user-dados>li.dm-u-logout>a:hover{background-color:#999;}
.login-box>.login-btn>.pai>.login-pop>.login-form>ul.user-dados>li.dm-u-logout>a:active{background:#999;}
.login-box>.login-btn>.pai>.login-pop>.login-form>ul.user-dados>li.dm-u-logout>a.perfil{padding:7px 20px;float:left;font-family:Arial, Tahoma;font-weight:bolder;font-size:11px;border:none;color:#fff;display:block;position:relative;top:40px;background-color:#494949;margin-right:10px;text-transform:capitalize;}
.login-box>.login-btn>.pai>.login-pop>.login-form>ul.user-dados>li.dm-u-logout>a.perfil:hover{background-color:#999;}
.login-box>.login-btn>.pai>.login-pop>.login-form>ul.user-dados>li.dm-u-logout>a.perfil:active{background:#999;}
.login-box>.login-btn .login-pop form input{padding:0 0 0 15px;height:40px;width:168px;font-family:Arial, Tahoma;font-size:18px;font-weight:bold;background-color:#CCC;border:none;-webkit-border-radius:0;border-radius:0;color:#454545;-webkit-transition:all 300ms linear;-moz-transition:all 300ms linear;-ms-transition:all 300ms linear;transition:all 300ms linear;}
.login-box .login-btn .login-pop form input:focus{background-color:#eee;color:#454545;-webkit-transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;transition:all 300ms ease-out;}
input:-webkit-autofill{background-color:#eee;background-image:none;color:#454545;}
.login-btn{float:right;}
.login-btn form{padding-top:20px;}
.login-box .login-btn .pai{position:relative;clear:both;}
.bg-off{background:#494949;top:3px;opacity:1!important;height:120px;}
.bg-on{background:#f0f0f0;top:5px;opacity:1!important;height:120px;}
.logado{top:5px;}
.deslogado{top:8px;}
.login-pop{display:block;opacity:0;width:450px;color:#FFF;position:absolute;right:0;transition:opacity 130ms ease-in-out;padding:0 15px;}
.dm-shadow{position:fixed;top:0;overflow:hidden !important;width:100%;height:100%;background:rgba(0, 0, 0, 0.5);z-index:100;display:none;}
.login-form,.login-user{display:none;}
.login-pop form input[type=text]{float:left;margin-right:11px;}
.login-pop form input[type=password]{float:left;}
.login-pop form input[type=text]:focus{float:left;outline:none;color:#454545;background-color:#eee;border-color:#9ecaed;box-shadow:0 0 6px #292929;transition:all 100ms ease-out;}
.login-pop form input[type=password]:focus{outline:none;color:#454545;background-color:#eee;border-color:#9ecaed;box-shadow:0 0 6px #292929;transition:all 100ms ease-out;}
.login-btn button{margin:0 0 0 12px;padding:0;height:40px;width:60px;color:#494949;font-family:Arial, Tahoma;background-color:#fff;font-size:14px;font-weight:bold;cursor:pointer;border:none;outline:none;}
.login-btn button:hover{background-color:#999;color:#FFF;}
.login-box>.login-btn>.pai>.login-pop>.login-form>form>a.baixe-app{display:none;}
.dm-busca{padding:95px 0 58px 0;margin:0;;background-color:#FFF;}
.logo-mob{display:none;}
.dm-busca img{border:none;}
.dm-busca>div>div>a{float:left;margin-bottom:-10px;}
.dm-busca>div>div>nav{text-align:right;float:right;vertical-aling:middle;padding-top:10px;}
.dm-busca>div>div>nav input{outline:none;margin:0;padding:0 0 0 15px;height:40px;width:300px;background-color:#FFF;border:1px solid #454545;color:#454545;font-family:Arial, Tahoma;font-size:14px;font-weight:bold;}
.dm-busca>div>div>nav input:focus{outline:none;background-color:#fff;border-color:#7EB139;color:#454545;box-shadow:0 0 6px rgba(123, 172, 59, 0.19);}
.dm-busca>div>div>nav button{outline:none;margin:0 0 0 -5px;padding:0;height:42px;width:40px;background:url(//www.devmedia.com.br/imagens/2013/buscar.png) no-repeat #454545;border:none;cursor:pointer;}
.dm-busca>div>div>nav button:hover{background-color:#999;}
.dm-busca>div>div>nav button,
.dm-busca>div>div>nav input,
.dm-busca>div>div>nav textarea{vertical-align:middle;}
.dm-busca>div>div>nav,
.dm-busca>div>div>nav input,
.dm-busca>div>div>nav input:hover,
.dm-busca>div>div>nav button,
.dm-busca>div>div>nav button:hover{-webkit-transition:all 300ms ease-out;-moz-transition:all 300ms ease-out;-ms-transition:all 300ms ease-out;-o-transition:all 300ms ease-out;transition:all 300ms ease-out;}
.new_info{text-decoration:none;color:#fff;font-family:Lato;margin-top:16px;margin-left:20px;background-color:#7cac3c;padding:10px 15px;font-size:12px;background-color:#93988c;font-size:12px;font-family:sans-serif;display:none;}
.new_info span{background-color:red;padding:10px;margin-left:-15px;margin-right:10px;}
.dm-limitfoot{background-color:#FFF;padding-top:0px;padding-bottom:315px;min-height:100%;}
.footer-fixed{height:315px;position:absolute;bottom:0;width:100%;}
footer>section.footer-box{margin:0!important;}
.footer-box2 a{text-decoration:none;color:#656565;}
.footer-box2 a:hover{text-decoration:underline;}
.footer-box2{font-family:Arial, Tahoma;color:#333333;}
.footer-box{padding:35px 0 30px 0;font-size:14px;margin-top:50px;font-family:Arial, Tahoma;}
.footer-box2{padding:35px 0 30px 0;font-size:14px;background-color:#292929;color:#FFF;}
.f-box-filho{padding:50px 0 50px 0;}
.footer-box .cx3 .fb-like-box{border:none;overflow:hidden;color:#49c5bf;float:right;height:180px;width:470px;}
.fb-shell{height:189px;width:100%;background-color:#eee;border-radius:2px;float:right;padding:0 10px 0 0;}
.footer-box .cx3{float:right;}
.footer-box .cx2{padding:10px 0 15px 0;color:#FFF;text-decoration:none;}
.footer-box .cx1 .social-bar ul li a{height:50px;width:50px;}
.footer-box .cx2 a{padding:0 8px 0 8px;color:#FFF;text-decoration:none;display:inline-block;}
.footer-box .cx2 a:hover{text-decoration:underline;}
.footer-box .cx2 img{float:left;}
.footer-box .cx3{padding:0;margin:0;}
.footer-box .cx2 nav{margin:5px 0 0 160px;}
.social-bar{list-style:none;overflow:hidden;margin:0;padding:0;}
.social-bar a{width:33px;height:33px;background-position:0 0;background-repeat:no-repeat;display:inline-block;}
.social-bar a:hover{}
.social-bar a.icon-1{background-image:url(//www.devmedia.com.br/imagens/2013/soc-icon-1.png);}
.social-bar a.icon-2{background-image:url(//www.devmedia.com.br/imagens/2013/soc-icon-2.png);}
.social-bar a.icon-3{background-image:url(//www.devmedia.com.br/imagens/2013/soc-icon-3.png);}
.social-bar a.icon-4{background-image:url(//www.devmedia.com.br/imagens/2013/soc-icon-4.png);}
.social-bar a.icon-6{background-image:url(//www.devmedia.com.br/imagens/2013/soc-icon-6.png);}
.social-bar a.icon-7{background-image:url(//www.devmedia.com.br/imagens/2013/soc-icon-8.png);}
.social-bar li{float:left;margin-right:5px;}
.social-bar2{list-style:none;overflow:hidden;margin:0;padding:0;}
.social-bar2 a{width:66px;height:53px;background-position:0 0;background-repeat:no-repeat;display:inline-block;}
.social-bar2 a:hover{background-position:0 bottom;}
.social-bar2 a.icon-11{background-image:url(//www.devmedia.com.br/imagens/2013/soc-icon-1.png);background-size:56px 108px;}
.social-bar2 a.icon-12{background-image:url(//www.devmedia.com.br/imagens/2013/soc-icon-2.png);background-size:56px 108px;}
.social-bar2 a.icon-13{background-image:url(//www.devmedia.com.br/imagens/2013/soc-icon-3.png);background-size:56px 108px;}
.social-bar2 a.icon-14{background-image:url(//www.devmedia.com.br/imagens/2013/soc-icon-4.png);background-size:56px 108px;}
.social-bar2 li{float:left;margin-right:5px;}
.footer-box .cx2 a,.footer-box .cx2 a:hover,.social-bar a{-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-ms-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out;}
.footer-box2{padding:22px 0 5px 0;}
.footer-box2 a{color:#FFF;font-weight:600;}
.login-box>.login-btn>.pai>.login-pop>.login-form>form>a.cadastre-se{width:auto;padding:0;line-height:4;color:#eee;font-weight:bold;font-family:Arial, Tahoma;font-size:14px;-webkit-border-radius:2px;text-shadow:0px 1px 1px #302f31;text-transform:none;}
.bg-off{height:145px;}
.login-box>.login-btn>.pai>.bg-off{height:116px;}
@media (max-width:1199px){.login-box>.login-btn>.pai>.login-pop>.login-form>form>a.baixe-app:hover{border:0px solid;text-shadow:0px 0px 8px #aaa;}
.new_info{float:right !important;}
.login-box>.login-btn>.pai>.login-pop>.login-form>form>a.baixe-app:hover{-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-ms-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out;}
.footer-box .cx3 .fb-like-box{border:none;overflow:hidden;color:#49c5bf;float:right;height:180px;width:100%;}
.fb-shell{height:189px;width:100%;float:right;}
/*.jobs-beta{display:none !important;}*/
}
@media (max-width:979px){header>nav>div>div>div>span>ul.dm-4,
header>nav>div>div>div>span>ul.dm-5{display:none;}
.dm-busca>div>div>nav input{width:250px;}
.footer-box .cx2 img{float:left;padding-left:10px;}
.f-box-filho{padding:0 0 30px 0;}
.social-bar li{float:left;margin-right:5px;}
.footer-box .cx2 img{float:left;padding-left:0px;}
.footer-box .cx2 nav{margin:60px 0 10px 0px;padding-left:0px;clear:both;border-left:5px solid #4B4B4B;}
.fb-shell{height:210px;float:right;}
.footer-box .cx3{float:right;}
.footer-box2{padding:22px 0 5px 10px;}
.footer-box2 .span4{width:100%;margin:0;}
.login-name{color:#FFF;text-transform:capitalize;padding:11px 15px 0 8px;display:inline-flex;max-width:80px;word-wrap:break-word;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.footer-box .cx2 a { padding: 15px 10px; }
}
@media (max-width:767px){.logo-mob{display:block;vertical-align:middle;padding:16px 0 11px 10px;clear:none;font-size:26px;color:#fff;float:left;}
header>nav>div>div>div>span>ul.dm-1,
header>nav>div>div>div>span>ul.dm-2,
header>nav>div>div>div>span>ul.dm-3,
header>nav>div>div>div>span>ul.dm-4,
header>nav>div>div>div>span>ul.dm-5,
header>nav>div>div>div>span>ul.dm-6,
header>nav>div>div>div>span>ul.dm-7{display:none;visibility:collapse;}
header>nav>div>div>div>i{border-right:1px solid transparent;margin-right:8px;}
header>nav>div>div>div{border:0px;margin:0;z-index:18;line-height:19px;}
.login-box>.login-btn{margin-right:10px;}
.dm-busca>div>div>a{display:none;}
.dm-busca>div>div>nav input{width:300px;}
.dm-busca>div>div>nav{text-align:center;float:none;vertical-aling:middle;}
.new_info{display:none !important;float:initial !important;width:220px !important;text-align:center;margin-left:calc(50% - 125px);}
.new_info span{margin-left:-80px !important;;}
.social-bar{padding:0 0 0 6px;}
.footer-box .cx2 img{float:left;padding-left:0px;margin-left:10px;}
.footer-box .cx2 nav{margin:58px 0 10px 10px;padding:5px 0;clear:both;height:100%;border-left:5px solid #4B4B4B;}
.footer-box .cx2{padding:0px 0 17px 0;color:#FFF;text-decoration:none;}
.footer-box .cx3 .fb-like-box{border:none;overflow:hidden;color:#49c5bf;float:right;height:182px;width:100%;}
.fb-shell{height:187px;width:100%;max-width:434px;float:left;}
.footer-box .cx3{float:right;padding:0 12px;margin-right:5px;}
.login-name{display:none;}
.gami_pontos{display:none;}
.dm-u-nome a.gami_pontos{display:inline-block;}
}
@media (max-width:479px){.login-box>.login-btn{margin-right:10px;}
.login-box>.login-btn>.pai>.login-pop{right:0;width:235px;}
.login-box>.login-btn>.pai>.login-pop>.seta{right:19px;}
.login-box>.login-btn>.pai>.login-pop>.login-form>form>input{margin-bottom:10px;padding:0 0 0 15px;height:40px;width:220px;float:left;}
.login-box>.login-btn>.pai>.login-pop>.login-form>form>button{width:100px;margin:0;display:block;width:100%;}
.login-box>.login-btn>.pai>.login-pop>.login-form>form>a.cadastre-se{width:auto;padding:0;line-height:3;color:#eee;font-weight:bold;font-family:Arial, Tahoma;font-size:14px;-webkit-border-radius:2px;text-shadow:0px 1px 1px #302f31;text-transform:none;}
.login-box>.login-btn>.pai>.login-pop>form>a{width:140px;float:none;}
.dm-busca>div>div>nav input{width:220px;}
.dm-busca>div>div>nav{text-align:center;float:none;vertical-aling:middle;}
.login-box>.login-btn>.cadastre-se{display:none;}
.login-box>.login-btn>.pai>.bg-on>.login-form>ul.user-dados{width:150px;float:right;margin:11px 0 0 0;line-height:1;padding:0;text-align:left;}
.login-box>.login-btn>.pai>.bg-on{right:0;width:260px;}
.login-box>.login-btn>.pai>.bg-off{height:200px;top:10px;}
.login-box>.login-btn>.pai>.login-pop>.login-form>ul.user-dados>li.dm-u-conta{width:43px!important;float:right;margin-top:14px;}
li.dm-u-logout{margin:-36px 0 0 0;}
.login-box>.login-btn>.pai>.login-pop>.login-form>ul.user-dados>li.dm-u-logout>a{top:40px;margin-bottom:10px;}
.bg-off{height:195px;}
.bg-on{height:145px;}
.logo-mob{font-size:22px;}
.baixe-app{display:none;}
}
@media (max-width:319px){*{word-wrap:break-word;}
.login-box>.login-btn>.pai>.login-pop>.login-form>form>a.cadastre-se{width:160px;display:block;line-height:1.8;margin:0 !important;padding:0;text-align:center;}
.login-box>.login-btn>.pai>.login-pop>.login-form>form>a.cadastre-se,
.login-box>.login-btn>.pai>.login-pop>.login-form>form>a.baixe-app{width:160px;}
.login-box>.login-btn>.pai>.bg-on{top:5px;width:160px;right:0px;padding:0 15px;height:198px;}
.login-box>.login-btn>.pai>.bg-off{width:160px;right:0px;padding:0 15px;height:230px;}
.login-box>.login-btn>.pai>.bg-on>.login-form>ul.user-dados{width:160px;float:right;margin:11px 0 0 0;line-height:1;padding:25px 0 0 0;text-align:left;}
.login-box>.login-btn>.pai>.bg-off>.login-form>form>input{padding:0 0 0 15px;height:40px;width:145px;}
.login-box>.login-btn>.pai>.bg-off>.login-form>form>input:focus{background-color:#eee;color:#49c5bf;}
.login-box>.login-btn>.pai>.bg-off>.login-form>form>button{margin:0 0 10px 0;width:160px;}
.login-box>.login-btn>.pai>.bg-off>.login-form>form>a{width:160px}
.logo-mob{display:block;vertical-align:middle;padding:17px 0 11px 0px;clear:none;font-size:18px;color:#fff;float:left;}
.login-box>.login-btn>.pai>.login-pop>.login-form>ul.user-dados>li.dm-u-conta{width:43px;float:right;margin-top:-116px;margin-right:6px;}
.login-box>.login-btn>.pai>.login-pop>.login-form>ul.user-dados>li.dm-u-logout>a{top:9px;}
.dm-busca>div>div>nav input{width:100px;}
}
@media (max-width:239px){*{word-wrap:break-word}
.logo-mob{display:block;vertical-align:middle;padding:17px 0 11px 0px;clear:none;font-size:14px;color:#fff;float:left;}
.bg-off{height:196px;}
.bg-on{height:198px;}
}
.submenu{width:193px !important;height:395px;}
.submenu:after, .submenu:before{content:'';clear:both;display:table;}
.menucel:hover .submenu{overflow:inherit;width:504px !important;max-width:inherit;}
.devmenu .submenu>li{width:200px !important;}
.devmenu .submenu>li:hover>a{text-shadow:0px 0px 0px #555;filter:dropshadow(color=#555, offx=0, offy=0);}
.devmenu .submenu li:last-child > a{border:none;}
.devmenu .submenu>li:hover .submenu2{display:block;}
.submenu2{display:none;position:absolute;padding:0;top:25px;left:245px;width:290px;padding-left:40px;//height:293px;z-index:2000000;margin-top:-22px;margin-left:-25px;-webkit-transition:all 150ms ease-out;-moz-transition:all 150ms ease-out;-ms-transition:all 150ms ease-out;-o-transition:all 150ms ease-out;transition:all 150ms ease-out;}
.submenu2:hover{display:block;}
.submenu2>li{width:290px;}
.submenu-line{border-bottom:1px solid rgb(85, 85, 85);padding-bottom:5px;}
.submenu-bottom-line{padding-top:6px;}
.menu-destak{font-weight:600;color:rgba(0, 0, 0, 0.5) !important;}
.menu-destak:hover{color:#7cac3c !important;}
.menu-small a{font-size:12px !important;}
a.btn-dm-nav{margin:10px 0 0 10px !important;color:#ffffff !important;display:table !important;border:none;padding:5px 8px !important;background-color:#49c5bf;font-size:12px !important;font-weight:inherit;font-family:Arial, Tahoma;-webkit-border-radius:2px;border-radius:2px;width:auto !important;}
a.btn-dm-nav:hover{background-color:#999!important;}
.fb-shell{height:140px;margin-top:15px;}
.footer-box .cx3 .fb-like-box{float:none;margin:5px 0 0 5px;overflow-y:hidden;height:152px;}
/*@media (max-width:1319px){.menucel.dm-7.menu-app{display: none;}}
@media (max-width:1213px){.menucel.dm-7.menu-curriculo{display: none;}}*/
@media (max-width:1199px){.footer-box .cx3 .fb-like-box{float:none;}
/*.footer-box .cx2 nav a:last-child{margin-top:1em;}*/
}
@media (max-width:767px){.footer-box .cx3 .fb-like-box{float:none;}
}
@media (max-width:979px){.fb-shell{height:160px;margin-top:0;}
}
.gami_pontos{color:#fff;font-size:12px;line-height:1.2;margin:0 8px 0 0;padding:11px 18px 10px;text-transform:initial;margin:3px 3px 0 -8px;}
.dm-u-nome a.gami_pontos{color:#494949;font-size:16px;}
@media (max-width:1420px){.menucel.item6 { display: none; } }
@media (max-width:1310px){.menucel.item5 { display: none; } }
@media (max-width:1185px){.menucel.item4 { display: none; } }
@media (max-width:1120px){.menucel.item3 { display: none; } }
@media (max-width:1050px){.menucel.item2 { display: none; } }
@media (max-width:990px){.menucel.item1 { display: none; } }
.menucel .info_new { background-color: #f17222; border-radius: 2px; float: left; margin: 12px 5px; transition: opacity .4s; opacity: 1;}
.menucel .info_new:hover { opacity: .6; }
.menucel .info_new a { color: #fff; padding: 3px 10px; display: block; font-size: 12px;}
.menucel.oculto{display: none;}
header nav.lateral>ul>li>strong>a{color: #fff !important;}
a.menu-destak.destaque{ color: #7BAC3B !important; text-shadow: 0px 0px 0px #555;}