html {
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:100%;
}

h3 {
font-family:Roboto,sans-serif;
font-weight:700;
font-size:1.8em;
color: #00545E;
line-height:50px;
margin-top:40px;
margin-bottom:-10px;
}

h3.subtitulo_texto{
	font-size: 1.3em;
	border-bottom: 1px solid #d1d1d1;
	padding-bottom: 15px;
	display: block;
	margin-top: 25px !important;
}


header {
	padding: 0;
}

table {
border-collapse:collapse;
border:1px solid #03476f;
padding:5px;
width:100%;
}


td {
font-size:13px!important;
border:1px dotted #03476f;
padding:5px;
margin:0px;
 background:#e7f4ca; 

}


th {
background:#e7f4ca; 
font-size:13px!important;
text-align:center;
border:1px dotted #03476f;
padding:5px;
}

table p {
margin:0!important;
padding:0!important;
border:0!important;
outline: 0!important;
}



/*------ classes ---------*/

h1.normal_video {
	margin-top:35px;
	margin-bottom:35px;
	font-family:Roboto,sans-serif;
	font-weight:400;
	font-size:3.2em;
	line-height:65px; 
	padding:0;
}


h2.normal_video {
font-family:Roboto,sans-serif;
font-weight:300;
font-size:1.0em;
line-height:27px; 
color:#5b5b5b;
padding:0;
margin-top:5px;
}


span.subtitulo_texto {
font-family:Roboto,sans-serif;
font-weight:700;
font-size:1.6em;
color: #00545E;
line-height:40px;
margin-top:80px;
margin-bottom:-10px;
}

a.facebook-icon {
	width: 32px; 
	height: 32px;  
	display: inline-block; 
	background-image: url("http://arquivo.devmedia.com.br/midiasocial/icon_facebook.png"); 
	background-repeat: no-repeat; 
	text-indent: -9999px;
}

a.twitter-icon {
	width: 32px; 
	height: 32px;  
	display: inline-block; 
	background-image: url("http://arquivo.devmedia.com.br/midiasocial/icon_twitter.png"); 
	background-repeat: no-repeat; 
	text-indent: -9999px;
}

a.link_barra_botoes_new {
	color: black; /* #FFF !important; */
    font-size: 1.0em !important;
    text-decoration: none !important;
    font-family: Montserrat, Arial, Tahoma !important;
    font-weight: 500 !important;
	cursor:pointer;
}

a.link_barra_botoes_new:hover{
color:#00545E;
}


a.botao_confirma_negativo  {
color:white;
text-decoration:none;
}

a.botao_confirma_negativo:hover {
text-decoration:underline;
}

a.link_pockets {
  border-bottom:0px !important;
  color:white;
}

a.link_pockets:hover {
  text-decoration:underline !important;
  color:white;
}

p.lista_artigo_revista {
font-size:1.1em;
font-family:Roboto,sans-serif;
font-weight:700;
}

p.lista_artigo_revista a {
color:black;
text-decoration:none;
}

p.lista_artigo_revista a:hover {
text-decoration:underline;
}

p.descricao_artigo_revista {
font-size:0.8em;
font-family:verdana;
line-height:20px;
}

p.p_nesta_edicao {
font-family:Roboto,sans-serif;
margin-bottom:40px;
font-size:2.2em;
}


/* ---------------------- */

 .videoWrapper {
   position: relative;
   padding-bottom: 56.25%; /* 16:9 */
   padding-top: 25px;
   height: 0;
}
.videoWrapper iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.div_listagem {
 padding-left:5px; 
 border-left-style:solid;
 border-left-color:#00545E;
 border-left-width:5px; 
 line-height:16pt;
 font-size:10pt;
}

.div_listagem  pre{
overflow-x:auto;
margin: 26px 0 0 0;
}

.div_listagem_print {
padding-left:5px;
border-left-style:solid;
border-left-color:#00545E;
border-left-width:4px;
margin-top:10px;
margin-bottom:40px;
font-size:10pt;
line-height:16pt;
background-color:#f7f7f7;
}


.box_mensagemModerador {
	margin-top:20px;
	font-family:sans-serif;
	padding:8px;
	background-color:red;
	color:white;
	border:2px;
	height:100%;
}

.label_barra_botoes_new {
margin-right:25px;
white-space: nowrap;
background-color: #efefef; 
padding: 8px 8px !important;
margin-right: 3px !important;

}

.label_barra_botoes_new:hover {
    border-bottom: 5px solid #7bac39;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}

.label_barra_botoes_new2 {
margin-right:25px;
white-space: nowrap;
background-color: #efefef; 
padding: 8px 8px !important;
margin-right: 3px !important;
}

.label_barra_botoes_new2:hover {
    border-bottom: 5px solid #7bac39;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}


.nav_guia {
	position:fixed;
	width: 290px;
	height: 100%; 
	padding-bottom:50px;
	z-index: 5;
	top: 75px;
	left: 0px;
	border-right-style:solid; 
	border-right-color:#dfdfdf;
	border-right-width:1px;
	background:#efefef; 
	
	transition: all .3s;
	
}

/* toggle */
.nav_guia_mobile {
	left:0px!important;
}


.li_indice_revista1 {
list-style-type: none;
background-color:#ececec;
padding:10px;
}

.li_indice_revista2 {
list-style-type: none;
padding:10px;
background-color:white;
}

.titulo{
	border: 1px solid #d1d1d1;
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 50px;
	border-top: 2px solid #0F8593;
}


/* comentario */

.corpo_comente.odd {
  background: #F4F4F4;
}

.corpo_comente {
  padding: 20px 20px 2px 20px;
}       

.texto_comentario {
font-family:verdana;
font-size:8pt;
letter-spacing:.04em;
line-height:19px;
color:#A9A9A9;
}


.texto_comentario_conteudo {
  color: #333;
width:100%;
word-wrap:break-word;
font-size: 13px;
font-family: arial,verdana, sans-serif;
}

.texto_comentario_nome {
 color: #A9A9A9;
font-weight: bold;
}

.foto_comentario1 {
float:left;
width:50px;
padding:5px;
}

.foto_comentario_sub {
float:left;
margin-left:64px;
width:45px;
padding-bottom: 25px;
}

.listagem_explicacao{
	font-size: 12px;
	line-height: 1.4em;
	letter-spacing: 0.1px;
	padding-left: 30px;
	border-bottom: 1px solid #eff0f1;
	padding-bottom: 6px;
	margin-top: -4px;
	color: #747474;
}


/* fim comentarios */


.artigo_nota2 {
	font-family: 'Lato';
	padding-left: 30px; 
	font-size: 1.0em;
	font-weight: 600;
	color:#a17373; /* #00545e; */
	font-style: italic;
	background-image: url(http://www.devmedia.com.br/layout/nota-css/img/quotation-marks.png);
	background-repeat: no-repeat;
	background-size: 18px;
	background-position: 0 25px;
	padding-top:20px;
	padding-bottom:20px;
}

.artigo_nota2 > p > em {
    word-wrap: break-word;
}

/* CSS botoes thumbs */
.btn_favorite>i{
	background-color: #49C5BF;
	padding: 5px;
	border-radius: 5px;
	font-size: 25px !important;
	color: #FFFB81 !important;
}
.btn_favorite>a{
	color: #3A3A3A;
    text-decoration: none;
}
.btn_like>i, .gs_btn_like>i {
  background-color: #1bcc87;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  /* vertical-align: top; */

}

.btn_dislike>i, .gs_btn_dislike>i{
  background-color: #f05f5c;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  /* vertical-align: top; */

}
.btn_like>i:hover, .gs_btn_like>i:hover,.btn_dislike>i:hover, .gs_btn_dislike>i:hover,.btn_favorite>i:hover{
	opacity: .75;
}
.btn_like>i, .gs_btn_like>i, .md_lido{
	margin-left: 2px;  /* 5px */
  cursor: pointer;
}
.btn_dislike>i, .gs_btn_dislike>i {
    color: #FFFFFF;
}

.btn_like>i, .gs_btn_like>i {
    color: #FFFFFF;
}

/* fim CSS botoes thumbs */

/*---------------- ID --------------*/

#texto_voto {
height:50px;
width:90%;
padding:10px;
}

#texto_voto2 {
height:50px;
width:90%;
padding:10px;
}

#form_voto_negativo {
margin-bottom:20px;
}


#pop{
display:none;
z-index:701;
padding:20px;
font-family:verdana;
line-height:28px;
border:1px solid #d0d0d0;
background-color:#f5f5f5;
border-color:grey;
border-style:solid;
border-width:1px;
margin-bottom:40px;
}

#box_lido {
	font-size:0.9em;
	font-family:verdana;
	color:blue;
	margin-bottom:10px;
}

#box_lido a:hover {
	background: #e4e4e4;
}


#div_feedback_post {
display:none;
z-index:701;
font-family:verdana;
line-height:30px;
border:1px solid #d0d0d0;
background-color:#f5f5f5;
border-color:grey;
border-style:solid;
border-width:1px;
padding:30px;
margin-bottom:40px;
}

#section_conteudo_guia {
	margin-left:200px;
}


#section_conteudo_noguia {
	margin-left:0px;
}

#section_sub_conteudo {
	width:760px;
	position:relative;
	margin:0 auto;
	margin-bottom:30px;
	/* margin-top:-30px; */
	margin-top:0px; 

}

#barra_botoes {
	margin-top:0px;
	padding-bottom:6px;
	font-size:0.9em;
	line-height:25px;
}

#div_barrasocial {
	font-family:verdana;
	font-size:1em;
	border-bottom: 1px dotted grey;
	/* padding-top:12px; */
	padding-left:5px;
	padding-bottom:10px;
	margin-top:10px;
}

#box_voto_negativo {
font-size:0.9em;
font-family:verdana;
margin-top:20px;
margin-bottom:20px;
background-color:#eee;
display:none;
border-color:grey;
border-style:solid;
border-width:1px;
padding:20px;
}

#div_conteudo {
font-family: sans-serif;
font-size:1.0em;
line-height:35px;
color:#1d2021;
}

#div_conteudo a {
/* text-decoration:none;
 border-bottom:1px dashed #12C; */
}

#div_conteudo a.link_rotulo_mentoring {
border-bottom-width:0px;
color:white;
}

#div_conteudo p {
margin-top:20px;
}


#box_social {
float:left; 
margin-left:0;
margin-right:50px;
}

#box_aviso_post_rodape {
  display:none;
  background:#fcf8e3;
  margin-bottom:8px;
  padding:9px;
  font-family:sans-serif;
  font-size:0.8em;
  color:grey;
  border-color:#777a03;
  border-style:solid;
  border-width:1px;
}

#ja_votou {
    display:none;
}

#box_indice_revista {
  margin-top:40px;
}

#box_indice_revista ul {
	margin:0px;padding:0px;
}


.btn_abrir_guia {
	height:32px;
	width:98%; 
	margin:0 auto;
	top:90px;
	left:7px;
	position:absolute;
	z-index:2;
}


.btn_abrir_guia_span {
	font-family: sans-serif; 
	color: #fff;
	cursor: pointer;
	background-color: rgb(117, 175, 63);
	padding-top: 5px; 
	padding-bottom:5px;
	padding-left:12px; 
	padding-right:12px; 
	font-size: 14px;
	display:inline;
	left:0;
	margin:0;'
}

#counterUp {
 font-family:sans-serif;
 font-size:0.8em;
}


#counterUp_rodape {
 font-family:sans-serif;
 font-size:0.8em;
}

#box_voto_negativo_rodape {
font-size:0.8em;
font-family:verdana;
margin-top:20px;
margin-bottom:20px;
background:#f5f5f5;
display:none;
border-color:#c0c0c0;
border-style:solid;
border-width:1px;
padding:20px;
}

#feedback_rodape_post{
	border-left-width:2px;
	border-left-style:solid; 
	border-left-color:#008695;
	border-top-color:#e1e1e1; 
	border-top-style:solid; 
	border-top-width:1px;
	border-bottom-color:#e1e1e1; 
	border-bottom-style:solid; 
	border-bottom-width:1px;
	border-right-color:#e1e1e1; 
	border-right-style:solid; 
	border-right-width:1px;
	padding:20px;
	margin-top:40px;
	margin-bottom:40px;
}


#img_pocket_acesso {
margin-top:30px;
}

#box_artigo_canal {

background:#f1f1f1;
margin-top:20px;
margin-left:0px;
margin-bottom:0px;
font-size:0.8em;
padding:8px;
border-color:#e7e7e7;
border-style:solid;
border-width:0px;
width:98%;
}

#box_artigo_canal a {
text-decoration:none;
color:black;
}

#box_artigo_canal a:hover {
background:#e3e3e3;
}

#mensagem_creditos1 {
padding:20px;
margin-top:20px;
margin-bottom:40px;
background-color:#FFFFD9;
font-size:10pt;
border-style:solid;
border-width:1px; 
border-color:grey;
line-height:19px;
font-family:verdana;
}


#div_confirma_voto_negativo {
color:white;
background-color:grey;
border-color:black;
border-style:solid;
border-width:1px;
margin-top:40px;
padding:10px;
}

#div_confirma_voto_negativo_rodape {
color:white;
background-color:grey;
border-color:black;
border-style:solid;
border-width:1px;
margin-top:0px;
padding:10px;
}


#box_fb_comp2 {
	/* dummy */
}

#section_anotacoes {
	padding:10px; 
    max-width: 100%;
    margin: 20px auto 25px;
    box-shadow: 1px 1px 3px 1px #ccc;
    padding: 20px;
    box-sizing: border-box;
	font-family:Roboto,sans-serif;
/* 	font-weight:700; */
	font-size:1.1em;
}

#section_anotacoes .section_anotacoes_titulo {
	margin-top:0px;
	margin-bottom:5px;
	border-bottom-style:solid;
	border-bottom-color:grey;
	border-bottom-width:1px;
	font-size:1.2em;
}

#section_anotacoes .section_anotacoes_titulo a {
	font-size:0.8em;
	text-decoration:none;
}


#section_anotacoes span {
	font-size:0.8em;
	text-decoration:underline;
}

#section_anotacoes span a {
	text-decoration:none;
	
}

#section_anotacoes span a:hover {
	background: #e4e4e4;
}


#box_lead2 {
margin-top:40px;
margin-bottom:40px;
padding:10px;
background-color:#f1f1f1;
}

#titulo_box_lead2 {
margin-bottom:20px;
font-family:sans-serif;
font-size:1.6em;
font-weight:700;
}

#div_link_revista {
padding:20px;
margin-top:50px;
margin-bottom:30px;
border-left-style:solid;
border-left-color:grey;
border-left-width:1px;
border-top-color:grey;
border-top-style:solid;
border-top-width:1px;
border-bottom-style:solid;
border-bottom-width:1px;
border-bottom-color:grey;
border-right-color:grey;
border-right-style:solid;
border-right-width:1px;
}

#div_link_revista a {
text-decoration:none;
font-family:Roboto;
font-size:1.0em; 
color:black;
}

#div_link_revista a:hover {
text-decoration:underline;
}

#secao_autor_post {
padding-left:0px;
padding-right:30px;
}

#secao_autor_post a {
text-decoration:none;
font-family:Roboto;
font-size:0.9em; 
color:black;
}

#secao_autor_post a:hover {
text-decoration:underline;
}

#secao_autor_post a.link_publicacao {
text-decoration:none;
font-family:Roboto;
font-size:0.8em; 
color:black;
cursor:text;
}

#secao_autor_post a.link_publicacao:hover {
text-decoration:none;
}

#secao_autor_post label {
	padding-left:7px;
	padding-right:7px;
}

#box_link_curso {
	border-style:solid;
	border-width:1px;
	border-color:#d3d3d3;
	border-radius:5px;
	margin-top:55px;
	background:#e9e9e9;
	padding:12px;
	margin-bottom:45px;
}

#box_link_curso a {
	text-decoration:none;
	color:black;
}

#box_link_curso a:hover {
	text-decoration:underline;
}

#secao_autor_post_data {
	/* dummy */
}

#secao_autor_post_canal {
	/* dummy */
}

#mensagem_exibicao_artigo {
	background:#ffd5d5;
	padding:10px; 
    max-width: 100%;
    margin: 20px auto 25px;
    box-shadow: 1px 1px 3px 1px #ccc;
    padding: 20px;
    box-sizing: border-box;
	font-family:Roboto,sans-serif;
 	font-weight:700; 
	font-size:1.1em;
}


/*--------- MEDIA QUERY --------*/
@media only screen and (max-width: 1200px) and (orientation:landscape), (max-width: 1200px) and (orientation:portrait) {

h1.normal_video {
margin-top:20px;
margin-bottom:20px;
font-family:Roboto,sans-serif;
font-weight:400;
font-size:2.5em;
word-break: keep-all;
line-height:52px;
}

img.imagem_artigo {
  width:100%;
}

.nav_guia {
	left:-300px;
}

/* .btn_abrir_guia {
   display:inline;
} */

.btn_abrir_guia_span {
	float: left !important; 
	display:inline !important;
	margin-left: 0px !important;
	top: 0px !important;
	width: initial !important;
}

.label_barra_botoes_new {
    text-align: center;
    border: 1px solid #FFF;
    line-height: 42px;
	padding: 5px 5px !important;
 }

.label_barra_botoes_new2 {
    text-align: center;
    border: 1px solid #FFF;
    line-height: 42px;
	padding: 5px 5px !important;
 }


.label_barra_botoes_new:hover {
    border-bottom: none !important;  
}

#box_lido {
	margin-bottom:0;
}

#section_conteudo_guia {
	margin-left: 0px;
}

#section_sub_conteudo {
	width:98%;

	margin:0 auto;
	margin-top:0px;
	
}

#box_social {
/*	float:none; */
}
 
#secao_autor_post_data {
	display:none;
}

#secao_autor_post_canal {
	display:none;
}


}


#box_fb_comp2 {
	/* dummy */
	margin-top:15px;
}

}


@media only screen and (max-width: 650px) and (orientation:landscape),(max-width: 650px) and (orientation:portrait) {

 .label_barra_botoes_new2 {
   display:none;
} 


}


/*--------- MEDIA QUERY --------*/
@media only screen and (max-width: 580px) and (orientation:landscape), (max-width: 580px) and (orientation:portrait) {
#div_conteudo img{
	width:100% !important;
 }


}


/*--------- FIM MEDIA QUERY --------*/



/*--------- CODIGO PARA REDUZIR O RODAPE --------*/
@media screen and (max-width: 1750px) {
    section.container-fluid.dm-cor1.footer-box {
        padding-left: 340px !important;
        box-sizing: border-box !important;
        overflow: hidden !important;
    }
    section.container-fluid.dm-cor2.footer-box2 {
        padding-left: 340px !important;
        box-sizing: border-box !important;
        overflow: hidden !important;
    }
}

@media screen and (max-width: 1199px) {
    section.container-fluid.dm-cor1.footer-box { padding-left: 0px !important; }
    section.container-fluid.dm-cor2.footer-box2 { padding-left: 10px !important; }
}


@media screen and (min-width: 1199px) and (max-width: 1500px) { 
        .span5.cx3 { width: 100% !important; }
        .fb-shell { width: auto !important; float: left !important; }
}
/* ------------- FIM CODIGO -------------------------*/

/*-------------- CODIGO PARA ACERTAR O BOX DE AVISO MVP ---------------*/

.dm-lock .row-fluid {
    background-position: 13% 30px !important;
    background-size: 190px !important;
}

.dm-bg-padding {
    padding: 30px 0px 0px 100px !important;
    width: 45% !important;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .dm-lock .row-fluid { background: none !important; }
    .dm-bg-padding {  
        padding: 70px 0px 0px 0px !important;
           width: 92% !important;
        text-align: center !important;
    }
}

@media (max-width: 767px)
    .dm-bg-padding { padding: 70px 0px 0px 0px !important; }
}
/* ---------- FIM CODIGO ---------------------------------------------*/