/* Author: Thiago Adriano */

@font-face {
    font-family: 'NeoSansPro';
    src: url('../fonts/NeoSansPro.eot');
    src: url('../fonts/NeoSansPro.eot') format('embedded-opentype'), url('../fonts/NeoSansPro.woff2') format('woff2'), url('../fonts/NeoSansPro.woff') format('woff'), url('../fonts/NeoSansPro.ttf') format('truetype'), url('../fonts/NeoSansPro.svg#NeoSansPro') format('svg');
}

@font-face {
    font-family: 'NeoSansProBold';
    src: url('../fonts/NeoSansProBold.eot');
    src: url('../fonts/NeoSansProBold.eot') format('embedded-opentype'), url('../fonts/NeoSansProBold.woff2') format('woff2'), url('../fonts/NeoSansProBold.woff') format('woff'), url('../fonts/NeoSansProBold.ttf') format('truetype'), url('../fonts/NeoSansProBold.svg#NeoSansProBold') format('svg');
}

@font-face {
    font-family: 'NeoSansProItalic';
    src: url('../fonts/NeoSansProItalic.eot');
    src: url('../fonts/NeoSansProItalic.eot') format('embedded-opentype'), url('../fonts/NeoSansProItalic.woff2') format('woff2'), url('../fonts/NeoSansProItalic.woff') format('woff'), url('../fonts/NeoSansProItalic.ttf') format('truetype'), url('../fonts/NeoSansProItalic.svg#NeoSansProItalic') format('svg');
}

@font-face {
    font-family: 'NeoSansProLight';
    src: url('../fonts/NeoSansProLight.eot');
    src: url('../fonts/NeoSansProLight.eot') format('embedded-opentype'), url('../fonts/NeoSansProLight.woff2') format('woff2'), url('../fonts/NeoSansProLight.woff') format('woff'), url('../fonts/NeoSansProLight.ttf') format('truetype'), url('../fonts/NeoSansProLight.svg#NeoSansProLight') format('svg');
}

@font-face {
    font-family: 'NeoSansProMedium';
    src: url('../fonts/NeoSansProMedium.eot');
    src: url('../fonts/NeoSansProMedium.eot') format('embedded-opentype'), url('../fonts/NeoSansProMedium.woff2') format('woff2'), url('../fonts/NeoSansProMedium.woff') format('woff'), url('../fonts/NeoSansProMedium.ttf') format('truetype'), url('../fonts/NeoSansProMedium.svg#NeoSansProMedium') format('svg');
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    background: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not ([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none
}

a {
    background: 0 0
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not (:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

.formError {
    z-index: 990
}

.formError .formErrorContent {
    z-index: 991
}

.formError .formErrorArrow {
    z-index: 996
}

.ui-dialog .formError {
    z-index: 5000
}

.ui-dialog .formError .formErrorContent {
    z-index: 5001
}

.ui-dialog .formError .formErrorArrow {
    z-index: 5006
}

.inputContainer {
    position: relative;
    float: left
}

.formError {
    position: absolute;
    top: 300px;
    left: 300px;
    display: block;
    cursor: pointer;
    text-align: left
}

.formError.inline {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block
}

.ajaxSubmit {
    padding: 20px;
    background: #55ea55;
    border: 1px solid #999;
    display: none
}

.formError .formErrorContent {
    width: 100%;
    background: #ee0101;
    position: relative;
    color: #fff;
    min-width: 120px;
    font-size: 11px;
    border: 2px solid #ddd;
    box-shadow: 0 0 6px #000;
    -moz-box-shadow: 0 0 6px #000;
    -webkit-box-shadow: 0 0 6px #000;
    -o-box-shadow: 0 0 6px #000;
    padding: 4px 10px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px
}

.formError.inline .formErrorContent {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0
}

.greenPopup .formErrorContent {
    background: #33be40
}

.blackPopup .formErrorContent {
    background: #393939;
    color: #FFF
}

.formError .formErrorArrow {
    width: 15px;
    margin: -2px 0 0 13px;
    position: relative
}

body.rtl .formError .formErrorArrow,
body[dir=rtl] .formError .formErrorArrow {
    margin: -2px 13px 0 0
}

.formError .formErrorArrowBottom {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    margin: 0 0 0 12px;
    top: 2px
}

.formError .formErrorArrow div {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    box-shadow: 0 2px 3px #444;
    -moz-box-shadow: 0 2px 3px #444;
    -webkit-box-shadow: 0 2px 3px #444;
    -o-box-shadow: 0 2px 3px #444;
    height: 1px;
    background: #ee0101;
    margin: 0 auto;
    line-height: 0;
    font-size: 0;
    display: block
}

.formError .formErrorArrowBottom div {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none
}

.greenPopup .formErrorArrow div {
    background: #33be40
}

.blackPopup .formErrorArrow div {
    background: #393939;
    color: #FFF
}

.formError .formErrorArrow .line10 {
    width: 15px;
    border: none
}

.formError .formErrorArrow .line9 {
    width: 13px;
    border: none
}

.formError .formErrorArrow .line8 {
    width: 11px
}

.formError .formErrorArrow .line7 {
    width: 9px
}

.formError .formErrorArrow .line6 {
    width: 7px
}

.formError .formErrorArrow .line5 {
    width: 5px
}

.formError .formErrorArrow .line4 {
    width: 3px
}

.formError .formErrorArrow .line3 {
    width: 1px;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 0 solid #ddd
}

.formError .formErrorArrow .line2 {
    width: 3px;
    border: none;
    background: #ddd
}

.formError .formErrorArrow .line1 {
    width: 1px;
    border: none;
    background: #ddd
}

.container {
    width: 940px;
    height: auto;
    margin: 0 auto;
    display: block;
    position: relative;
}

.container::after,
.container::before {
    content: "";
    display: table;
    width: 0
}

.container::after {
    clear: both
}

div.row {
    width: 100%;
    height: auto;
    padding: 0;
    display: block
}

div.row::after,
div.row::before {
    content: "";
    display: table;
    width: 0
}

div.row::after {
    clear: both
}

div[class*="cl-"] {
    display: inline;
    margin: 0 25px 0 0;
    height: auto;
    padding: 0;
    float: left
}

div[class*="cl-"]:last-child {
    margin: 0
}

div.cl-12 {
    width: 943px
}

div.cl-11 {
    width: 862px
}

div.cl-10 {
    width: 781px
}

div.cl-9 {
    width: 700px
}

div.cl-8 {
    width: 619px
}

div.cl-7 {
    width: 538px
}

div.cl-6 {
    width: 457px
}

div.cl-5 {
    width: 376px
}

div.cl-4 {
    width: 295px
}

div.cl-3 {
    width: 214px
}

div.cl-2 {
    width: 133px
}

div.cl-1 {
    width: 52px
}

#font .bold {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700
}

#font .semibold {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600
}

#font .semiBoldItalic {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600
}

@keyframes moveFade {
    from {
        opacity: 0;
        margin-left: -20px
    }
    to {
        opacity: 1;
        margin-left: 0
    }
}

@ -webkit-keyframes moveFade {
    from {
        opacity: 0;
        margin-left: -20px
    }
    to {
        opacity: 1;
        margin-left: 0
    }
}

@ -moz-keyframes moveFade {
    from {
        opacity: 0;
        margin-left: -20px
    }
    to {
        opacity: 1;
        margin-left: 0
    }
}

*,
 ::after,
 ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

a,
a:hover {
    text-decoration: none;
    outline: 0
}

body {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #3d3d3d;
    background: #fff
}

p {
    margin: 0
}

strong {
    font-weight: 700
}

.list {
    margin: 0;
    padding: 0
}

.list li {
    margin: 0;
    padding: 0;
    list-style: none
}

.list-block li {
    display: block
}

.list-inline li {
    display: inline-block
}

.fleft {
    float: left
}

.fright {
    float: right
}

.text-justify {
    text-align: justify
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right;
}

.btn {
    display: inline-block;
    padding: 12px 40px;
    width: auto;
    height: auto;
    letter-spacing: -.05em;
    border-radius: 11px;
    /*box-shadow: rgba(0,0,0,.5)1px 1px 2px;*/
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.btn-white {
    background: #fff;
    color: #0088c7;
    font-size: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    border: 1px solid #0088c7;
}

.btn-blue {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background: #0088c7
}

.btn.btn-lemon {
    color: #009238;
    border: 1px solid #009238;
}

.btn-confirm {
    background: #03b05f;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600
}

.btn:hover {
    color: #fff;
    background: #003148;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in
}

.btn.btn-lemon:hover {
    color: #fff;
    background: #009238;
}

.highlight {
    color: #0088c7
}

.line-horizontal {
    border: none;
    border-bottom: #ccc solid 1px;
    width: 100%;
    margin: 15px 0
}

.center {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important
}

.d-table {
    display: table
}

.border-blue {
    border: #0088c7 solid 1px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    font-weight: 300;
    margin: 0 0 15px;
    line-height: 40px
}

h1 {
    font-size: 55px
}

h2 {
    font-size: 35px
}

h3 {
    font-size: 35px
}

h4 {
    font-size: 32px
}

h5 {
    font-size: 26px
}

h6 {
    font-size: 18px
}

.box,
.dados,
.nome {
    width: 100%;
    display: block;
    height: auto;
    margin-bottom: 15px
}

.nome {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    margin-bottom: 8px
}

.dados {
    margin: 0;
    background: #f5f5f5;
    border: #d8d7d7 solid 1px;
    padding: 8px;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: italic;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in
}

#email-news:focus,
.dados:focus {
    color: #333;
    font-style: normal;
    border: #0088c7 solid 1px;
    border-radius: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    box-shadow: #0088c7 0 0 2px
}

.submit {
    font-size: 18px
}

#news .submit:hover,
.submit:hover {
    background: #fff;
    border: #003148 solid 1px;
    color: #003148;
    /*box-shadow: rgba(0,0,0,.8)1px 1px 3px inset, #0088c7 0 0 4px*/
}

#email-news {
    width: 71%;
    border-radius: 8px;
    float: left
}

#news .submit {
    width: 27%;
    float: right;
    padding: 9px 0;
    border: none
}

#news .submit:hover {
    padding: 8px 0
}

.msg {
    height: 180px
}

.ok {
    width: 100%;
    height: auto;
    padding: 35px 0;
    font-size: 36px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    background: green;
    color: #fff;
    display: block;
    margin: 0;
    text-align: center
}

.t-ok {
    color: #fff;
    width: 75%;
    font-size: 40px;
    background: #0088c7;
    padding: 25px;
    border: 1px solid #fff;
}

.t-ok font {
    font-size: 60px;
    font-weight: bold;
}

.ok.erro {
    background: red
}

.t-erro {
    background: red;
    padding: 5px 10px;
}

#top {
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: auto;
    padding: 15px 0 14px 0;
    position: fixed;
    z-index: 110;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    box-shadow: none;
    top: 0;
}

#top.scroll {
    padding: 0;
    background: #000;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    box-shadow: rgba(0, 0, 0, .5) 0 4px 8px
}

.logo {
    width: 102%;
    height: 57px;
    background: url(../img/logo-ipnet.png) no-repeat center left;
    display: block;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.logo h1 {
    font-size: .01px;
    text-indent: -999999px;
    color: transparent
}

#top .btn {
    margin-top: 4px;
    background: #03b05f;
}

#top .btn:hover {
    background: #0088c7;
}

#menu {
    margin: 10px 0 0 10px;
}

.link-menu {
    padding: 10px 22px;
    text-transform: capitalize;
    display: inline-block;
    font-size: 16px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    color: #fff;
    background: 0 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.link-menu.ative,
.link-menu:hover {
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    background: #0088c7;
}

#banner,
#banner li,
#container-banner,
.item-banner {
    width: 100%;
    height: 554px;
    display: block;
    background-position: center !important;
    background-size: cover;
    margin-top: 34px;
}

#banner li .container {
    position: relative;
    overflow: hidden;
    height: inherit
}

#banner li .container>* {
    position: absolute
}

.item-banner {
    padding-top: 95px
}

.item-banner h4 {
    font-family: "Ubuntu", "Open Sans";
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 46px;
    line-height: 55px;
    letter-spacing: -1px;
    margin: 0;
    /*text-shadow: rgba(0,0,0,.9)1px 1px 6px*/
}

.item-banner h3 {
    font-family: "Ubuntu", "Open Sans";
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -1px;
    margin: 20px 0 0 0;
    /*text-shadow: rgba(0,0,0,.9)1px 1px 6px*/
}

.item-banner h5 {
    font-family: "Ubuntu", "Open Sans";
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -1px;
    margin: 20px 0 0 0;
    /*text-shadow: rgba(0,0,0,.9)1px 1px 6px*/
}

.item-banner button {
    margin-top: 25px;
    float: left;
    clear: both;
    border: none
}

#container-banner {
    position: relative;
    margin-top: 0px;
    top: -90px;
}

#int-banner {
    float: left;
    width: 100%;
    padding-bottom: 20px;
    height: auto;
    background-size: 100% 100% !important;
}

#int-banner h2 {
    float: left;
    color: #fff;
    font-size: 45px;
    margin: 130px 0 0 0;
    font-weight: normal;
}

#int-banner h2.tit-cases {
    margin: 100px 0 0 0;
}

#int-banner h2.tit-empresa {
    margin: 115px 0 0 0;
}

#int-banner p {
    float: left;
    color: #fff;
    width: 99%;
    font-size: 1.26em;
    font-weight: 300;
    line-height: 105%;
    margin: 17px 0 0 3px;
}

.banner-cases {
    width: 100%;
    float: left;
    color: #fff;
    height: auto;
    margin: 30px 0;
    min-height: 120px;
    background: url(../img/banner-seja-nosso-case.jpg) center no-repeat;
}

.banner-cases h2 {
    float: left;
    font-size: 32px;
    margin: 15px 0 0 20px;
    text-transform: uppercase;
}

.banner-cases img {
    position: absolute;
    margin: -10px 0 0 120px;
}

.banner-cases p {
    clear: left;
    float: left;
    width: 55%;
    font-size: 16px;
    margin: 8px 0 0 20px;
    letter-spacing: -0.3px;
    line-height: 20px;
}

.slide-style-2 h1,
.slide-style-2 h2,
.slide-style-2 h3,
.slide-style-2 h4,
.slide-style-2 h5 {
    /* font-size: initial; */
    font-weight: initial;
    line-height: 100%;
    margin: 0 auto;
}

.slide-style-2 .container {
    width: 100%;
}

.slide-style-2 a.item-banner {
    margin-left: 8%;
    text-align: right;
    width: 40%;
}

.slide-style-2 .tt-banner {
    color: #ffde03;
    /* font-size: 33px; */
    text-transform: uppercase;
    margin: 0;
}

.slide-style-2 .cont-banner {
    font-family: "Ubuntu", "Open Sans";
    font-size: 54px;
    font-weight: 400;
}

.slide-style-2 .item-banner button {
    border-radius: 8px;
    float: none;
    font-size: 30px;
    font-weight: 300;
    min-width: 250px;
    padding: 6px 0;
    color: #04646e;
}

#cloud-services .titulo-bloco {
    color: white;
    font: 800 33px/100% "open sans";
    margin: 0;
    text-transform: none;
}

#cloud-services .conteudo-bloco {
    font: 400 1.27em/120% "open sans";
    margin: 20px 0 0;
}

#cloud-services .planos-servicos div[class*="cl-"] {
    display: inline-flex;
    float: none;
}

#cloud-services .bloco-box.bg-azul-bebe {
    background: #1667a8 none repeat scroll 0 0;
}

.content-top-titulo {
    margin-top: 40px;
}

.content-top.bloco-box h2 {
    margin: 21px 0 0;
}

#cloud-services .content-top p {
    font-size: 1.78em;
    letter-spacing: 0.025em;
    line-height: 105%;
    display: inline-block;
    margin: 22px 0 0;
}

.img-tablet {
    margin-left: -11%;
}

#ps .descricao-premium {
    line-height: 110%;
}

#ps .titulo-box {
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

#ps .descricao-premium {
    font-size: 1.34em;
    font-weight: 300;
    line-height: 114%;
}

#ps .row .row {
    margin-top: 50px;
}

.titulo-box {
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 40px;
}

.planos-servicos .titulo-box {
    font-weight: 300;
    font-size: 24px;
}

#cloud-services .panel {
    border-radius: 0;
}

#cloud-services .planos-servicos .panel-heading {
    padding: 16px 5px;
}

#cloud-services .panel .list-group {
    margin: 0;
}

.panel .list-group-item {
    font-size: 0.95em;
    font-weight: 600;
    line-height: 100%;
    min-height: 50px;
    padding: 18px 5px;
}

.panel.panel-azul-escuro .panel-heading {
    background-color: #02557e;
}

.panel.panel-azul-escuro,
.panel.panel-azul-escuro .list-group,
.panel.panel-azul-escuro .list-group-item {
    background-color: #025a85;
    color: #fff;
}

.panel.panel-azul-escuro .list-group-item {
    border: 1px solid #15668e;
}

.panel.panel-azul-claro .panel-heading {
    background-color: #2b9dcf;
}

.panel.panel-azul-claro,
.panel.panel-azul-claro .list-group,
.panel.panel-azul-claro .list-group-item {
    background-color: #2da5da;
    color: #fff;
}

.panel.panel-azul-claro .list-group-item {
    border: 1px solid #3dacdd;
}

.panel.panel-verde .panel-heading {
    background-color: #adbd0f;
}

.panel.panel-verde,
.panel.panel-verde .list-group,
.panel.panel-verde .list-group-item {
    background-color: #b6c710;
    color: #fff;
}

.panel.panel-verde .list-group-item {
    border: 1px solid #bbcb22;
}

.note-premium {
    margin: -20% auto -8%;
}

.services-faq .titulo-box {
    font-weight: 900;
}

.bloco-box.services-faq p.bloco-desc-branco {
    background-color: #fff;
    font-size: 1.35em;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 100%;
    margin: 0 0 0 6px;
    min-height: 53px;
    padding: 8px;
}

.bloco-box.services-faq p {
    font-size: 1.4em;
    letter-spacing: 0;
    line-height: 1.2em;
    margin: 9px 6px 20px;
    text-align: left;
}

div.dash-line {
    background-image: url("../img/bg-border-dashed.png");
    background-position: 26% center;
    background-repeat: no-repeat;
    margin: -60px 0 -27px;
    padding: 67px 0;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
    div.dash-line {
        background: none;
        margin: 0 0 20px;
        padding: 0;
    }
}

.bloco-help {
    background-image: url('../img/bloco-help.gif');
    background-repeat: no-repeat;
    background-position: top center;
    width: 59px;
    height: 53px;
}

#cloud-services .bloco-treinamento .titulo-bloco {
    font-size: 3.9em;
}

#cloud-services .bloco-treinamento p {
    font-size: 1.2em;
    line-height: 105%;
}

.divider-horz {
    border-left: 2px solid #e3e3e3;
    display: inline-block;
    float: left;
    height: 90px;
    margin: 0 -1px;
    width: 0;
}

.row-icon {
    margin: 15px 0;
}

.row-icon .desc-icon {
    border-left: 1px solid #e3e3e3;
    margin: 0 0 0 -16px;
    padding: 21px 12px 24px;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .google-maps img {
        max-width: 100%;
        margin: 0 auto 0 10px;
    }
    img.pin-maps-pull {
        margin: -80px 0 0 4%;
        position: absolute;
    }
    .google-maps .cl-12>* {
        width: inherit;
        clear: both;
        margin: 3px auto;
    }
    #int-banner p {
        font-size: 13px;
    }
    .banner-cases {
        height: auto;
        padding-bottom: 10px;
        background: url(../img/banner-seja-nosso-case.jpg) right;
        background-size: cover;
    }
    .banner-cases h2 {
        float: left;
        font-size: 32px;
        margin: 15px 0 0 20px;
        text-transform: uppercase;
    }
    .banner-cases img {
        float: left;
        margin: 20px 0 0 20px;
        width: 280px;
        position: relative;
    }
    .banner-cases p {
        width: 90%;
    }
}

@media screen and (min-width: 501px) and (max-width: 960px) {
    .google-maps img {
        max-width: 100%;
        margin: 0 auto 0 10px;
    }
    img.pin-maps-pull {
        margin: -80px 0 0 4%;
        position: absolute;
    }
    #int-banner p {
        font-size: 13px;
    }
    .banner-cases {
        padding-bottom: 10px;
        background: url(../img/banner-seja-nosso-case.jpg) right;
        background-size: cover;
    }
    .banner-cases img {
        margin: 20px 0 0 20px;
        width: 300px;
    }
}

#int-banner.t-clientes {
    background: url(../img/bg-cleintes.jpg) center no-repeat;
}

#int-banner.t-cases {
    background: url(../img/bg-cases.jpg) center no-repeat;
}

#int-banner.t-empresa {
    background: url(../img/bg-empresa.jpg) center no-repeat;
}

.arrow-slide {
    position: absolute;
    top: 50%;
    z-index: 99
}

#nextslide {
    right: 15%
}

#prevslide {
    left: 15%
}

#pager {
    text-align: center;
    height: auto;
    width: auto;
    margin: -40px 0 0;
    z-index: 100;
    position: relative
}

#pager>a {
    font-size: .01px;
    text-indent: -999999px;
    color: transparent;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background: #fff;
    display: inline-block;
    margin: 0 3px
}

#pager>a.activeSlide {
    background: #0088c7
}

.no-image .tt-banner,
.no-image h5,
.no-image p {
    display: block;
    text-align: center;
    /*text-shadow: rgba(0,0,0,.9)1px 1px 6px*/
}

.no-image h5,
.no-image p {
    color: #fff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: -.02em;
    margin: 0
}

.no-image h5 {
    margin-top: 8px
}

.no-image p {
    font-size: 22px
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .no-image p {
        font-size: 16px;
        margin: 0 20px;
    }
}

@media screen and (min-width: 501px) and (max-width: 960px) {
    .no-image p {
        font-size: 22px
    }
}

.no-image button {
    margin-left: auto !important;
    margin-right: auto;
    display: block;
    float: none
}

#rodape {
    width: 100%;
    height: auto;
    background: #002e51;
    margin: 0;
    padding: 0 0 45px 0;
    /*border-top: #0088c7 solid 2px*/
}

#rodape::after,
#rodape::before {
    content: "";
    display: table;
    width: 0
}

#rodape::after {
    clear: both
}

.tt-footer {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    color: #fff;
    margin: 28px 0 12px;
    line-height: normal
}

#rodape .cl-3 {
    width: 160px;
    float: right
}

#rodape .cl-5 {
    margin: 0;
    padding: 20px 28px 75px;
    width: 430px;
    border: #fff dotted 1px;
    border-top: none;
    border-bottom: none;
    margin-top: 10px;
    margin-left: 2px
}

#rodape .cl-5 .tt-footer {
    margin-top: 0
}

#rodape>div {
    margin-top: 25px
}

.diver {
    margin: 0;
    border: none;
    border-bottom: #fff solid 5px;
    width: 100%;
    display: block
}

.logo-bottom {
    background: url(../img/logo-bottom.png);
    width: 217px;
    height: 56px;
    margin-bottom: 10px
}

#end,
#mail,
#tel {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    margin: 12px 0
}

#end {
    letter-spacing: -.05px
}

#mail,
#tel {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    background: url(../img/ico-mail-tel.png) left top no-repeat;
    padding-left: 30px;
    height: 25px
}

@media screen and (min-width: 300px) and (max-width: 960px) {
    #mail,
    #tel {
        font-size: 16px;
        padding-top: 2px;
        padding-bottom: 4px;
    }
}

#mail {
    background-position: left bottom;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

#mail:hover {
    color: #0088c7;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in
}

#credit {
    display: inline-block;
    margin: 0
}

.icon {
    float: left;
    width: 50px;
    height: 50px;
    display: block;
    margin-left: 10px;
    background: url(../img/ico-redes.png) no-repeat;
    background-size: cover;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    border-radius: 100%;
    overflow: hidden
}

.at300b .at16nc {
    opacity: 0;
    border-radius: 3px;
    margin: .5px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.icon:hover {
    opacity: .7;
    background: url(../img/ico-redes-h.png) no-repeat;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in
}

.at300b:hover .at16nc {
    opacity: 1;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in
}

.at15t_facebook,
.at16nc.at16t_facebook,
.at15t_twitter,
.at16nc.at16t_twitter,
.at15t_linkedin,
.at16nc.at16t_linkedin,
.at15t_facebook:hover,
.at16nc.at16t_facebook:hover,
.at15t_twitter:hover,
.at16nc.at16t_twitter:hover,
.at15t_linkedin:hover,
.at16nc.at16t_linkedin:hover {
    background: none;
}

.icon-face {
    background-position: top left
}

.icon-twitter {
    background-position: top center;
    margin: 0 8px
}

.icon-linkedin {
    background-position: top right
}

.icon-twitter:hover {
    background: url(../img/ico-redes-h.png) no-repeat;
    background-position: top center;
}

.icon-linkedin:hover {
    background: url(../img/ico-redes-h.png) no-repeat;
    background-position: top right
}

#copy-credit {
    padding: 18px 0
}

#copy {
    font-size: 13px;
    color: #002e51;
    float: left
}

#credit {
    float: right;
    width: 94px;
    height: 20px;
    background: url(../img/logo-ki.png) no-repeat center;
    font-size: .01px;
    text-indent: -999999px;
    color: transparent;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

#credit:hover {
    opacity: .7;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in
}

.line {
    width: 0;
    height: 52px;
    border: 0;
    border-left: #ccc solid 1px;
    display: block;
    margin: 15px auto 0
}

.line.line-cicle {
    margin-bottom: 20px;
    height: 60px
}

.line.line-cicle::before {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 100%;
    background: #676767;
    margin: 0 0 0 -5px
}

.solution {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: .05em
}

#apps,
#clients {
    padding: 50px;
    /*border: #ccc solid 1px;*/
    border-right: none;
    border-left: none;
    background: #f6f5f0
}

#apps {
    padding: 0;
    overflow: hidden
}

.app-item {
    text-align: center;
    padding: 55px 0 6px;
    background: 0 0;
    margin-bottom: -5px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.app-item {
    background: url(../img/ico-app-cloud.png) center 15px no-repeat;
}

.app-item-desenvolvimento {
    background: url(../img/ico-desenvolvimento.png) center 15px no-repeat;
}

.app-item-geo {
    background: url(../img/ico-geo.png) center 15px no-repeat;
}

.app-item img {
    margin: 0 auto;
}

.app-item h5 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    color: #7b786d;
    text-transform: uppercase;
    font-size: 24px;
    margin: 100px 0 15px 0;
    text-shadow: none;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.app-item h5.middle {
    margin-top: 10px
}

.app-item span {
    padding: 3px 15px;
    margin: 0 auto 15px 0;
    display: inline-block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    color: #0088c7;
    text-transform: lowercase;
    background: #fff;
    font-size: 18px;
    border-radius: 8px;
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.app-item:hover {
    background: url(../img/ico-app-cloud_hover.png) center 15px no-repeat #0088c7;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in
}

.app-item-desenvolvimento:hover {
    background: url(../img/ico-desenvolvimento_hover.png) center 15px no-repeat #0088c7;
}

.app-item-geo:hover {
    background: url(../img/ico-geo_hover.png) center 15px no-repeat #0088c7;
}

.app-item:hover h5 {
    color: #fff;
    /*text-shadow: #01618d 1px 1px 2px;*/
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in
}

.app-item:hover span {
    opacity: 1;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in
}

.certifiq {
    width: 720px;
    height: auto;
    text-align: center;
    margin: 45px auto 50px
}

.empres {
    width: 100%;
    text-align: center;
    margin: 45px auto
}

.frase {
    color: #3d3d3d;
    text-align: center;
    letter-spacing: 2px;
    font: 300 18px/28px 'Open Sans', Helvetica, sans-serif;
}

.frase strong {
    color: #0088c7;
}

.faixa-cinza {
    width: 100%;
    padding: 40px 0;
    margin: 50px 0;
    background: #f6f5f0;
}

.faixa-cinza .frase {
    letter-spacing: normal;
    font: 300 26px/36px 'Open Sans', Helvetica, sans-serif;
}

.faixa-cinza .frase strong {
    font-weight: normal;
}

.box-azul {
    padding: 10px 0;
    background: #0088c7;
    font-weight: normal;
    border-radius: 5px;
}

.box-azul p {
    color: #fff;
    padding: 20px;
    text-align: center;
    font: 300 26px/36px 'Open Sans', Helvetica, sans-serif;
}

.empresas {
    margin: 30px 0 0 0;
    overflow: hidden;
}

.empresa {
    width: 100%;
    overflow: hidden;
}

.empresa .empresa-ano,
.empresa .empresa-ano span,
.empresa .empresa-ano .linha {
    float: left;
    width: 100px;
}

.empresa .empresa-ano span {
    float: left;
    color: #fff;
    width: 97px;
    height: 97px;
    text-align: center;
    padding: 25px 0 0 0;
    background: url(../img/empresa-bola.png);
    font: 300 30px 'Open Sans', Helvetica, sans-serif;
}

.empresa .empresa-desc {
    width: 88%;
    float: right;
    padding: 20px;
    min-height: 150px;
    border-radius: 5px;
    background: #f6f5f0;
    margin-top: 100px;
    border: 1px solid #dddcd7;
}

.empresa .empresa-desc p {
    color: #3d3d3d;
    padding: 10px;
    letter-spacing: 2px;
    font: 300 20px/28px 'Open Sans', Helvetica, sans-serif;
}

.empresa .empresa-desc p strong {
    color: #0088c7;
}

.empresa .empresa-desc img.left {
    float: left;
}

.empresa .empresa-desc img.right {
    float: right;
}

.empresa .empresa-seta {
    float: left;
    width: 25px;
    height: 36px;
    margin: 90px 0 0 -45px;
    position: absolute;
    background: url(../img/empresa-seta.jpg);
}

.empresa .empresa-seta-180 {
    margin: 50px 0 0 -45px;
}

.empresa .empresa-seta-210 {
    margin: 60px 0 0 -45px;
}

.empresa .empresa-seta-200 {
    margin: 85px 0 0 -45px;
}

.empresa .empresa-seta-220 {
    margin: 100px 0 0 -45px;
}

.empresa .empresa-seta-350 {
    margin: 130px 0 0 -45px;
}

.empresa .empresa-ano .linha {
    height: 270px;
    background: url(../img/empresa-linha.png) center center;
}

.empresa .empresa-ano .linha-180 {
    height: 180px;
}

.empresa .empresa-ano .linha-210 {
    height: 210px;
}

.empresa .empresa-ano .linha-200 {
    height: 200px;
}

.empresa .empresa-ano .linha-220 {
    height: 280px;
}

.empresa .empresa-ano .linha-350 {
    height: 350px;
}

.certifiq::after,
.certifiq::before {
    content: "";
    display: table;
    width: 0
}

.certifiq::after {
    clear: both
}

.certifiq .certifieds {
    margin: 0 10px 0 0
}

.certifiq .certifieds:last-child {
    margin-right: 0
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .empres img {
        width: auto;
        margin: 0 auto;
    }
    .empresa {
        margin: 20px auto;
    }
    .empresa img {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        float: none !important;
    }
    .empresa img.i2004,
    .empresa img.i2006,
    .empresa img.i2008 {
        width: auto;
        float: left !important;
        margin: 0 30px;
    }
    .empresa img.i2006 {
        margin: 0 30px 0 20px;
    }
    .empresa img.i2008 {
        margin: 0 30px 0 50px;
    }
    .empresa .empresa-ano {
        margin: 0 auto;
        float: none !important;
    }
    .empresa .empresa-ano .linha {
        height: 100px !important;
    }
    .empresa .empresa-desc {
        margin: 0 auto;
        overflow: hidden;
        float: none !important;
    }
    .empresa .empresa-seta {
        display: none;
        visibility: hidden;
    }
    .certifiq {
        width: 95%;
        height: auto;
        margin: 45px auto;
    }
    .certifiq .certifieds {
        margin: 10px;
    }
}

@media screen and (min-width: 501px) and (max-width: 960px) {
    .empres img {
        width: auto;
        margin: 0 auto;
    }
    .empresa {
        margin: 20px auto;
    }
    .empresa img {
        width: auto;
        margin: 0 auto;
        text-align: center;
    }
    .empresa .empresa-ano {
        margin: 0 auto;
        float: none !important;
    }
    .empresa .empresa-ano .linha {
        height: 100px !important;
    }
    .empresa .empresa-desc {
        margin: 0 auto;
        overflow: hidden;
        float: none !important;
    }
    .empresa .empresa-seta {
        display: none;
        visibility: hidden;
    }
    .certifiq {
        width: 95%;
        height: auto;
        margin: 45px auto;
    }
    .certifiq .certifieds {
        margin: 10px;
    }
}

.blocks {
    margin: 0;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

.blocks-int {
    min-height: 600px;
}

.clientes-lista {
    float: left;
    margin-bottom: 50px;
}

.clientes-lista li {
    float: left;
    width: 140px;
    list-style: none;
    text-align: center;
    margin-right: 30px;
    margin-top: 30px;
    border: 1px solid #d4d3d3;
}

.clientes-lista a.sem-link {
    cursor: default;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .clientes-lista li {
        margin: 0 50px 20px 50px;
    }
}

#gear {
    display: none;
    position: absolute;
    width: 257px;
    height: 204px;
    right: 0;
    /*right: -250px;*/
    bottom: 0;
    background: url(../img/catracas.png) no-repeat center;
    z-index: -1;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

#certified {
    display: none;
    position: absolute;
    width: 256px;
    height: 181px;
    left: 0;
    /*left: -250px;*/
    top: 120px;
    background: url(../img/certified-marks.jpg) no-repeat center;
    z-index: -1;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

#map {
    width: 100%;
    height: 454px;
    background: url(../img/maps.jpg) no-repeat center;
    background-size: 100%;
}

#map .box-count {
    width: 850px;
    height: auto;
    padding: 50px 40px;
    background: #f9f9f9;
    box-shadow: rgba(0, 0, 0, .6) 1.5px 1.5px 2px;
    border-radius: 4px;
    margin: 110px auto 0
}

#map .box-count::after,
#map .box-count::before {
    content: "";
    display: table;
    width: 0
}

#map .box-count::after {
    clear: both
}

.count {
    text-align: center;
    position: relative
}

.count img {
    margin: 0 auto
}

.count h5 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    color: #0088c7;
    font-size: 24px;
    margin: 0;
    line-height: normal
}

.count span {
    position: absolute;
    right: -20px;
    top: 29px;
    color: #232021;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px
}

.count p {
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    color: #202221;
    font-size: 13px;
    line-height: 20px;
    margin: 0
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .line-horizontal {
        display: none;
    }
    .count span {
        top: 0;
        left: 0;
        float: left;
        width: 100%;
        margin: 20px 0;
        text-align: center;
        position: relative;
    }
}

@media screen and (min-width: 501px) and (max-width: 960px) {
    .line-horizontal {
        display: none;
    }
    .count span {
        top: 0;
        left: 0;
        float: left;
        width: 100%;
        margin: 20px 0;
        text-align: center;
        position: relative;
    }
}

#case {
    margin: 35px 0 45px;
    width: 100%;
    height: 185px
}

#case li {
    width: inherit;
    height: inherit
}

#case li img {
    float: left;
    margin-right: 15px
}

#case li h6 {
    font-size: 28px;
    margin: 0 0 10px 0;
}

#case li p {
    font-size: 14px;
    text-align: left;
    line-height: 23px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    margin: 15px 10px 10px 0
}

#case li .btn {
    color: #0088c7;
    font-size: 20px;
    padding: 5px 12px;
    border: 1px solid #0088c7;
}

#case li .btn:hover {
    color: #fff;
    border: 1px solid #003148;
}

.arrow {
    display: block;
    border: none;
    outline: 0;
    width: 41px;
    height: 41px;
    background: url(../img/arrows.png) top left no-repeat;
}

.cases-home .arrow {
    display: block;
    border: none;
    outline: 0;
    width: 41px;
    height: 41px;
    background: url(../img/arrows-c.png) top left no-repeat;
}

.arrow.arrow-case {
    margin-top: 230px
}

.arrow.ar-r {
    background-position: top right
}

.arrow.ar-l:hover {
    background-position: bottom left;
}

.arrow.ar-r:hover {
    background-position: bottom right;
}

#list-clientes {
    margin: 55px auto;
    width: 815px;
    height: 146px
}

#list-clientes li {
    width: inherit;
    height: inherit
}

#list-clientes li img {
    margin-right: 65px
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    #list-clientes li img {
        margin-right: 0
    }
}

@media screen and (min-width: 501px) and (max-width: 960px) {
    #list-clientes li img {
        margin-right: 0
    }
}

#list-clientes li img:last-child {
    margin-right: 0
}

.about {
    margin: 25px auto 50px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px
}

.bt-about {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
    display: table;
    margin: 0 0 70px;
    padding: 8px 15px
}

.bt-blog {
    left: 0;
    top: 15px;
    color: #002e51;
    font-size: 15px;
    padding: 5px 10px;
    position: relative;
    border-color: #002e51;
    float: left !important;
}

#certified.scroll {
    left: 50px;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in
}

#gear.scroll {
    right: 20px;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in
}

.certifieds.scroll,
.count.scroll {
    animation: moveFade .8s ease-in;
    -webkit-animation: moveFade .8s ease-in;
    -moz-animation: moveFade .8s ease-in
}

@media screen and (min-width: 300px) and (max-width: 960px) {
    h1 {
        font-size: 43px
    }
    h2 {
        font-size: 36px
    }
    h3 {
        font-size: 28px
    }
    h4 {
        font-size: 20px
    }
    h5 {
        font-size: 14px
    }
    h6 {
        font-size: 10px
    }
    #menu-mobile {
        background: url(../img/ico-menu.png) top right no-repeat;
        min-height: 41px;
        min-width: 55px;
        float: right;
        margin-right: 25px;
        margin-top: 10px
    }
    #top .btn {
        width: 100%;
        text-align: center;
        display: none
    }
    .logo {
        width: 218px;
        margin-left: 10px;
    }
    #top .cl-3 {
        width: auto
    }
    #top .cl-9 {
        float: right
    }
    #menu {
        width: 100%;
        display: none
    }
    #menu li {
        width: 100%;
        text-align: center;
        margin-top: 0;
        margin-right: 0;
    }
    .container {
        width: 100%
    }
    div[class*="cl-"] {
        width: 98%;
        margin-right: 0;
    }
    #rodape .cl-4 {
        margin-left: 2% !important;
    }
    .item-banner {
        padding-top: 90px;
        text-align: center
    }
    .item-banner>* {
        float: none
    }
    #prevslide {
        left: 0
    }
    #nextslide {
        right: 0
    }
    .item-banner .tt-banner {
        font-size: 33px;
        line-height: normal
    }
    .item-banner img {
        margin-right: auto !important;
        margin-left: auto;
        display: block
    }
    .item-banner button {
        margin-left: auto;
        float: none
    }
    .slide-style-2 .container {
        width: 100%;
    }
    .slide-style-2 a.item-banner {
        margin-left: 0;
        text-align: center;
        width: 100% !important;
        padding-left: 8px;
        padding-right: 8px;
    }
    .slide-style-2 .cont-banner {
        font-size: 28px;
    }
    .app-iten {
        width: 100%;
        text-align: center
    }
    #list-clientes,
    .certif {
        width: 100%
    }
    .certif .certifieds {
        margin: 0 24px 15px
    }
    #map {
        height: auto;
        background-repeat: repeat;
        padding: 40px 0
    }
    #map .box-count {
        width: 100%;
        margin: 0
    }
    .blocks {
        position: relative
    }
    .arrow.arrow-case {
        margin-top: 0;
        position: absolute;
        bottom: 10px
    }
    #prevcase {
        left: 30%
    }
    #nextcase {
        right: 30%
    }
    #case {
        height: 360px;
        margin: 35px 5px;
    }
    #rodape .cl-5 {
        border: none;
        width: 98%;
        padding: 40px 8px 25px 2%;
    }
    #rodape .cl-3 {
        float: left;
        margin-left: 20px;
    }
    #credit {
        margin-top: 10px
    }
}

@media screen and (min-width: 568px) and (max-width: 960px) {
    .certif .certifieds {
        margin: 0 40px 15px
    }
    #case {
        height: 270px
    }
}

@media screen and (min-width: 800px) and (max-width: 960px) {
    #top .btn {
        width: initial;
        margin-right: 25px
    }
    .item-banner img {
        margin-right: initial;
        margin-left: initial;
        display: initial;
        float: right
    }
    .item-banner {
        padding-top: 165px;
        text-align: left
    }
    .item-banner .tt-banner {
        float: left;
        font-size: 43px
    }
    .item-banner button {
        float: left
    }
    .arrow-slide {
        display: none
    }
    #apps div.cl-4 {
        width: 266px
    }
    .certif .certifieds {
        margin: 0 28px 15px
    }
    #map div.cl-3 {
        width: 215px
    }
    #map div.cl-2 {
        width: 130px
    }
    .about {
        padding: 0 25px
    }
    .about br {
        display: none
    }
    #rodape div.cl-4,
    #rodape div.cl-5 {
        width: 48%;
        float: left
    }
    #rodape div.cl-5 {
        float: right
    }
}

@media screen and (min-width: 1000px) and (max-width: 1100px) {
    #prevslide {
        left: 1%
    }
    #nextslide {
        right: 1%
    }
}

@media screen and (min-width: 1100px) and (max-width: 1600px) {
    #prevslide {
        left: 5%
    }
    #nextslide {
        right: 5%
    }
}

.contato {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 50px 0;
}

.c-left {
    float: left;
    color: #FFF;
    width: 500px;
    overflow: hidden;
    padding: 20px;
}

.c-left h2 {
    font: 700 50px 'Open Sans', Geneva, sans-serif;
    margin: 0;
}

.c-left font {
    font: italic normal 18px 'Open Sans', Geneva, sans-serif;
}

.c-left p {
    width: 100%;
    margin: 10px 0;
    font: normal 300 16px/normal 'Open Sans', Geneva, sans-serif;
    color: #fff;
    letter-spacing: 0.05em;
}

.c-left p.info {
    border-bottom: 4px solid #fff;
    padding-bottom: 20px;
    margin-top: 5px;
    margin-bottom: 35px;
}

.c-left p.setores {
    margin: 10px 0;
}

.c-left p.address {
    margin: 45px 0 20px;
}

.c-left p.setores a {
    font-weight: 700;
    color: #fff;
}

.c-left p.setores a:hover {
    text-decoration: underline;
}

.c-left .mail,
.c-left .phone {
    color: #fff;
    float: left;
    height: auto;
    margin: 13px 0 0 0;
    padding: 2px 0 10px 59px;
    background: url(../img/mail.png) 0 0 no-repeat;
    font: normal 25px 'Open Sans', Geneva, sans-serif;
    letter-spacing: 0.03em;
}

.c-left .phone {
    background: url(../img/phone.png) 0 0 no-repeat;
}

.c-form {
    float: right;
    width: 380px;
    margin: 30px 0 0 0;
}

.c-form input,
.c-form textarea {
    border: none;
    width: 350px;
    padding: 12px;
    margin: 18px 0 0 0;
    font: italic normal 13px 'Open Sans', Geneva, sans-serif;
}

.c-form textarea {
    height: 200px;
}

.c-form input[type=submit] {
    padding: 0;
    color: #fff;
    width: 100px;
    height: 40px;
    text-align: center;
    background: #03a6f1;
    font-size: 18px;
}

.c-form input[type=submit]:hover {
    background: #055987;
}

.c-form label.error {
    float: left;
    width: 100%;
    color: #fff;
    font-size: 11px;
}

#mapa {
    overflow: hidden;
    width: 100%;
    height: 390px;
    margin-top: 0;
    display: block;
    background: url(../img/mapa.png) 100% 100%;
}

#blockForm {
    display: block;
    width: 100%;
    height: auto;
    background: #0663a9;
}

#mapa a {
    float: left;
    width: 100%;
    height: 100%;
    text-indent: -3000px;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    #mapa {
        overflow: hidden;
        width: 100%;
        height: 820px;
        margin-top: 0;
        float: left;
    }
    #mapa a {
        float: left;
        width: 100%;
        height: 100%;
        text-indent: -3000px;
    }
    .contato {
        position: absolute;
        width: 90%;
        min-height: 434px;
        height: auto;
        overflow: hidden;
        top: 120px;
        left: 5%;
        background: #0088c7;
    }
    .c-left {
        float: left;
        color: #FFF;
        width: 300px;
        padding: 20px;
        margin-left: 0px;
    }
    .c-left h2 {
        font: 300 50px 'Open Sans', Geneva, sans-serif;
    }
    .c-left font {
        font: italic normal 13px 'Open Sans', Geneva, sans-serif;
    }
    .c-left p {
        width: 100%;
        padding-top: 20px;
        margin: 20px 0 10px 0;
        border-top: 1px solid #fff;
        font: normal 12px 'Open Sans', Geneva, sans-serif;
    }
    .c-left .mail,
    .c-left .phone {
        color: #fff;
        float: left;
        height: 30px;
        margin: 5px 0 0 0;
        padding-left: 30px;
        background: url(../img/mail.png) 0 0 no-repeat;
        font: normal 14px 'Open Sans', Geneva, sans-serif;
    }
    .c-left .phone {
        background: url(../img/mail.png) 0 0 no-repeat;
    }
    .c-form {
        float: left;
        width: 400px;
        margin: 30px 0 0 10px;
    }
    .c-form form {
        float: left;
        width: 270px;
    }
    .c-form input,
    .c-form textarea {
        border: none;
        width: 250px;
        padding: 8px;
        margin: 8px 0 0 0;
        font: italic normal 13px 'Open Sans', Geneva, sans-serif;
    }
    .c-form textarea {
        height: 75px;
    }
    .c-form input[type=submit] {
        padding: 0;
        color: #fff;
        width: 100px;
        height: 40px;
        text-align: center;
        background: #03a6f1;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .c-form input[type=submit]:hover {
        background: #055987;
    }
    .c-form label.error {
        float: left;
        width: 100%;
        color: #fff;
        font-size: 11px;
    }
}

@media screen and (min-width: 501px) and (max-width: 860px) {
    #mapa {
        overflow: hidden;
        width: 100%;
        height: 820px;
        margin-top: 0;
        float: left;
    }
    #mapa a {
        float: left;
        width: 100%;
        height: 100%;
        text-indent: -3000px;
    }
    .contato {
        position: absolute;
        width: 90%;
        min-height: 434px;
        height: auto;
        overflow: auto;
        top: 120px;
        left: 5%;
        background: #0088c7;
    }
    .c-left {
        float: left;
        color: #FFF;
        width: 400px;
        padding: 20px;
        margin-left: 30px;
    }
    .c-left h2 {
        font: 300 50px 'Open Sans', Geneva, sans-serif;
    }
    .c-left font {
        font: italic normal 18px 'Open Sans', Geneva, sans-serif;
    }
    .c-left p {
        width: 100%;
        padding-top: 20px;
        margin: 20px 0 10px 0;
        border-top: 1px solid #fff;
        font: normal 15px 'Open Sans', Geneva, sans-serif;
    }
    .c-left .mail,
    .c-left .phone {
        color: #fff;
        float: left;
        height: 30px;
        margin: 5px 0 0 0;
        padding-left: 30px;
        background: url(../img/mail.png) 0 0 no-repeat;
        font: normal 18px 'Open Sans', Geneva, sans-serif;
    }
    .c-left .phone {
        background: url(../img/mail.png) 0 0 no-repeat;
    }
    .c-form {
        float: left;
        width: 400px;
        margin: 30px 0 0 50px;
    }
    .c-form input,
    .c-form textarea {
        border: none;
        width: 350px;
        padding: 8px;
        margin: 8px 0 0 0;
        font: italic normal 13px 'Open Sans', Geneva, sans-serif;
    }
    .c-form textarea {
        height: 75px;
    }
    .c-form input[type=submit] {
        padding: 0;
        color: #fff;
        width: 100px;
        height: 40px;
        text-align: center;
        background: #03a6f1;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .c-form input[type=submit]:hover {
        background: #055987;
    }
    .c-form label.error {
        float: left;
        width: 100%;
        color: #fff;
        font-size: 11px;
    }
}

.solucoes {
    float: left;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.solucoes-centro {
    width: 960px;
    margin: 0 auto;
}

.solucoes-des {
    height: 473px;
    padding-top: 90px;
    background-image: url(../img/solucoes-01.png);
}

.solucoes-app {
    height: 466px;
    margin-top: -59px;
    padding-top: 90px;
    background-image: url(../img/solucoes-02.png);
}

.solucoes-geo {
    height: 473px;
    margin-top: -59px;
    padding-top: 90px;
    background-image: url(../img/solucoes-03.png);
}

.solucoes-desc {
    width: 50%;
}

.solucoes-desc h2 {
    color: #0088c7;
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 15px 0 40px 110px;
}

.solucoes-desc p {
    font-size: 14px;
}

.solucoes-app .solucoes-desc p,
.solucoes-app .solucoes-desc h2 {
    color: #fff;
}

.solucoes h2 {
    background: url(../img/des.png) 0 0 no-repeat;
}

.solucoes-app h2 {
    background: url(../img/apps.png) 0 0 no-repeat;
}

.solucoes-geo h2 {
    background: url(../img/geo.png) 0 0 no-repeat;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .solucoes-centro {
        width: 100%;
    }
    .solucoes-desc {
        width: 300px;
    }
    .solucoes-desc h2 {
        color: #0088c7;
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
        padding: 15px 0 0 0;
        background: none;
    }
    .solucoes-desc p {
        font-size: 12px;
    }
    .solucoes-app .solucoes-desc p,
    .solucoes-app .solucoes-desc h2 {
        margin-left: 20px;
    }
}

@media screen and (min-width: 501px) and (max-width: 960px) {
    .solucoes-centro {
        width: 100%;
    }
    .solucoes-desc {
        width: 450px;
    }
    .solucoes-desc h2 {
        color: #0088c7;
        font-size: 36px;
        font-weight: 300;
        text-transform: uppercase;
        padding: 15px 0 0 0px;
        background: none;
    }
}

.solucoes-desc a {
    float: left;
    color: #0088c7;
    margin-top: 10px;
    padding: 8px 30px;
    border-radius: 5px;
    border: 1px solid #0088c7;
}

.solucoes-desc a:hover {
    color: #fff;
    background: #0088c7;
    border: 1px solid #fff;
}

.solucoes-app .solucoes-desc a {
    color: #fff;
    background: #0088c7;
    border: 1px solid #fff;
}

.solucoes-app .solucoes-desc a:hover {
    color: #0088c7;
    background: #fff;
    border: 1px solid #0088c7;
}

.right {
    float: right;
}

.left {
    float: left;
}

.case {
    float: right;
    width: 620px;
    margin-right: 50px;
}

.case p {
    margin: 20px 0;
}

.case h2 {
    float: left;
    width: 70%;
    color: #0088c7;
    font-size: 24px;
    margin-top: 10px;
}

.case .case-logo {
    float: right;
}

.cases-lista {
    padding: 0;
    width: 100%;
    float: left;
    margin: 30px 0;
}

@media screen and (min-width: 501px) and (max-width: 960px) {
    .cases-lista {
        margin: 0 auto;
        float: none;
        width: 500px;
    }
}

.cases-lista li {
    width: 450px;
    float: left;
    padding: 20px;
    font-weight: 300;
    list-style: none;
    margin: 0 0 20px 0;
    text-align: justify;
    border: 1px solid #ddd;
}

.case iframe,
.cases-lista img,
.cases-lista iframe {
    width: 100% !important;
}

.case-logo img {
    width: auto !important;
}

.cases-lista li p {
    float: left;
    min-height: 90px;
    margin: 20px 0 10px 0;
}

.cases-lista li.last {
    float: right;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .cases-lista li,
    .cases-lista li.last {
        width: 300px;
        float: left;
        margin: 20px 0 0 10px;
    }
}

@media screen and (min-width: 501px) and (max-width: 960px) {
    .cases-lista li,
    .cases-lista li.last {
        width: 450px;
        float: left;
        margin: 20px 0 0 40px;
    }
}

.cases-lista li .ver-case {
    float: left;
    color: #0088c7;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 3px;
    border: 1px solid #0088c7;
    padding: 5px 10px 7px 10px;
}

.cases-lista li .ver-case:hover {
    color: #fff;
    background: #0088c7;
    border: 1px solid #fff;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.cases {
    padding: 0;
    float: left;
    width: 210px;
    margin: 0 0 50px 0;
    list-style: none;
    border: 1px solid #d1d0d0;
}

.cases h2 {
    color: #0088c7;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
}

.cases li {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    text-align: center;
}

.cases li.linha {
    padding: 0;
    float: left;
    width: 160px;
    margin: 0 20px;
    border-bottom: 1px solid #d1d0d0;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .cases {
        margin: 0 0 50px 50px;
    }
    .case {
        float: left;
        width: 300px;
        margin-left: 10px !important;
    }
}

@media screen and (min-width: 501px) and (max-width: 960px) {
    .cases {
        margin: 0 auto;
        float: none;
        overflow: hidden;
    }
    .case {
        margin: 0 auto;
        float: none;
        width: 450px;
    }
}

.case p img {
    width: 100%;
}

.paginacao {
    padding: 0;
    float: left;
    width: 100%;
    list-style: none;
    margin: 0 0 20px 10px;
}

.paginacao li {
    float: left;
    margin-right: 8px;
}

.paginacao li a {
    color: #fff;
    float: left;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    background: #c9ced1;
}

.paginacao li a:hover,
.paginacao li.current a {
    background: #0088c7;
}

#topo {
    width: 36px;
    height: 36px;
    text-indent: -3000px;
    background: url(../img/topo.png);
    margin: -80px 0 0 900px;
    position: absolute;
}

@media screen and (min-width: 300px) and (max-width: 960px) {
    #topo {
        display: none !important;
        visibility: hidden;
    }
}

.breadcumbs {
    float: left;
    width: 100%;
    padding: 20px 0;
    background: #e5e5e5;
    position: relative;
    z-index: 12;
}

.breadcumbs-cnt {
    width: 930px;
    margin: 0 auto;
}

.breadcumbs a,
.breadcumbs span {
    float: left;
    color: #666;
    font-size: 14px;
    margin-right: 5px;
}

.breadcumbs img {
    float: left;
    margin-top: 2px;
    margin-right: 5px;
}

.breadcumbs a {
    color: #0088c7;
}

.voltar {
    color: #fff;
    float: left;
    font-size: 16px;
    margin: 30px 0;
    padding: 10px 20px;
    background: #0088c7;
}

.addthis_toolbox a.at300b,
.addthis_toolbox a.at300m {
    width: 46px !important;
}

.at-icon-wrapper,
a.at300b .at4-icon,
a.at300m .at4-icon {
    display: none !important;
}

.bloco-box,
.bloco-box-slim {
    padding: 35px 0;
    clear: both;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
}

.bloco-box-slim {
    padding: 15px 0 0 0;
}

.bloco-box.bg-azul {
    background: #0a548f;
}

.bloco-box.bg-verde {
    background: #3aac9d;
}

.bloco-box.bg-cinza-claro-white {
    background: #e5e5e5;
}

.bloco-box.bg-azul-bebe {
    background: #0088c7;
}

.bloco-box.bg-azul-medio {
    background: #1667a8;
}

.bloco-box.bg-cinza {
    background: #4c4c4c;
}

.bloco-box.bg-cinza-claro {
    background: #f0f0f0;
}

.bloco-box.bg-cinza-claro .titulo-vantagem,
.bloco-box.bg-cinza-claro h5 {
    color: #0a548f;
}

.bloco-box.bg-cinza-claro .titulo-vantagem {
    font-size: 2.75em;
    letter-spacing: 0.01em;
}

.bloco-box p {
    color: #333333;
    letter-spacing: 0.05em;
    font: normal 300 18px/25px 'Open Sans';
    margin: 35px 0 25px;
}

.bloco-box h2 {
    font: 300 28px 'Open Sans';
    color: #0088c7;
    text-transform: uppercase;
    display: block;
    margin: 30px 0 0;
}

.btn-more {
    text-transform: uppercase;
    background: transparent;
    letter-spacing: 0.05em;
    font: normal 400 20px/normal 'Open Sans';
    display: inline-block;
    border: #0088c7 solid 1px;
    color: #0088c7;
}

.btn-more.btn-more-inverse {
    color: #fff;
    border-color: #fff;
}

.btn.btn-md {
    border-radius: 8px;
    font-size: 1.06em;
    padding: 8px 44px;
}

.bloco-cloud {
    background: transparent;
    border: 1px solid #0088c7;
    border-radius: 15px;
    color: #0088c7;
    display: inline-block;
    font: 400 18px "Open Sans";
    height: auto;
    letter-spacing: 0.05em;
    margin: 42px auto;
    padding: 20px 30px;
    text-align: center;
    width: auto;
}

#page-infra-nuvem .titulo-bloco {
    color: white;
    font-weight: 800;
    line-height: 100%;
    margin: 0;
    text-transform: none;
}

.bloco-ebook {
    padding-bottom: 80px;
}

.bloco-ebook img.img-bloco {
    margin: -20% auto -8%;
}

.bloco-box.bloco-ebook p {
    font-size: 19px;
    font-weight: 500;
    margin-top: 10px;
}

.bloco-convite-nuvem {
    padding: 70px 0 0;
}

.bloco-convite-nuvem img.responsive {
    margin: -130px 0 -83px -30px;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .bloco-ebook img.img-bloco {
        margin: -20% auto -8%;
    }
}

.color-inverse {
    color: #fff !important;
}

.btn-more.color-inverse {
    border-color: #fff;
}

.border-foto {
    border: #0a548f solid 21px;
    border-radius: 240px;
    margin: 0 0 -50px;
    padding: 0;
    border-right: none;
    border-top: none;
    border-left: none;
}

.center-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.fs20 {
    font-size: 20px !important;
}

.pe20 {
    padding: 0 0 0 20px;
}

.mt25 {
    margin-top: 25px;
}

.minimal-line {
    line-height: 24px;
}

.condensa {
    width: 290px;
}

.condensa-maps {
    max-width: 362px;
    margin: 130px 0 -110px;
}

.note-map {
    margin-top: -360px;
    margin-right: -40px;
}

.note-gg-map {
    margin-bottom: -105px;
    margin-right: -90px;
    margin-top: -310px;
    position: relative;
    z-index: -1;
}

.color-blue {
    color: #0663a9 !important;
}

.fs-19 {
    font-size: 19px;
}

.text-light {
    font-weight: 100;
}

.header-blue {
    background-color: #0663a9;
    color: #fff;
    font-weight: 600;
    margin: 0 auto;
    padding: 17px 0;
    text-align: center;
}

.maps-text {
    font-size: 19px;
    font-weight: 100;
    line-height: 110%;
    margin: 0 auto;
    max-width: 880px;
}

.pull-top {
    margin: -30px -40px 0 0;
    position: relative;
}

.func-content {}

.func-content p {
    margin: initial;
}

p.texto-destaque {
    margin: 50px 0 20px;
}

p.func-descricao {
    font: 100 11.8pt/121% "Open Sans";
}

.box-white-trans {
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
    border-radius: 7px;
    display: block;
    margin: 60px auto 40px 40px;
    padding: 1px 30px;
    position: relative;
    width: 80%;
}

.pin-maps-pull {
    margin: -100px 0 0 28%;
    position: absolute;
}

.clear {
    clear: both;
}

.note-apps {
    margin-right: -60px;
}

.app-work {
    margin-bottom: -80px;
}

.itens {
    width: 150px;
    height: auto;
    float: left;
    text-align: center;
    margin: 80px 25px 20px;
}

.itens.no-mr {
    margin-right: 0
}

.itens.first-block {
    margin-left: 96px;
}

.itens.first-block-line {
    margin-left: 196px;
}

.itens img {
    display: block;
    margin: 0 auto;
}

.itens p {
    font: normal 300 16px/1.2 'Ubuntu', sans-serif;
    color: #525656;
    letter-spacing: -0.03em;
    margin: 15px 0 0;
    vertical-align: top;
}

.itens p strong {
    font-weight: 700;
}

.titulo-secao {
    font: normal 300 18px/25px 'Open Sans', sans-serif;
    color: #fff;
    margin: 0 0 45px;
    text-align: center;
    display: block;
    letter-spacing: 0.05em;
}

.bloco-app {
    background: #fff;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
    padding: 30px 10px;
    text-align: center;
    min-height: 410px;
}

.bloco-app h4,
.bloco-app span,
.bloco-app p {
    letter-spacing: 0.05em;
    margin: 0;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

.bloco-app h4 {
    color: #aeafb0;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

.bloco-app img {
    display: block;
    margin: 20px auto 12px;
}

.bloco-app span {
    color: #4c4c4c;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 20px;
}

.bloco-app p {
    color: #626363;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.bloco-box .section {
    font: normal 300 48px/48px 'Open Sans', sans-serif;
    color: #fff;
    margin: 0;
    text-align: left;
    display: block;
    letter-spacing: 0.05em;
    text-transform: none;
    margin-top: -15px;
}

.bloco-box .section strong {
    font-weight: 700;
    font-size: 60px;
}

.bloco-box .small16 {
    font-size: 16px;
    line-height: 22px;
    margin: 18px 0 0;
    letter-spacing: 0;
}

.box-mapa-satelite {
    background-image: url('../img/bg-mapa-satelite.jpg');
    background-size: 100% auto;
    background-position: top center;
}

.box-mapa-places {
    background-image: url('../img/bg-mapa-pin-places.jpg');
    background-size: 100% auto;
    background-position: top center;
}

.bloco-box .small16:last-child {
    margin-bottom: 0;
}

.bloco-box .smartphone-app {
    margin: -62px 0 -68px;
}

.bloco-vantagens {
    width: 170px;
    height: auto;
    float: left;
    text-align: center;
    margin: 0 32px 50px;
}

.bloco-vantagens:first-child {
    margin-left: 35px;
}

.bloco-vantagens:last-child {
    margin-right: 0;
}

.bloco-vantagens img {
    display: table;
    margin: 0 auto;
    vertical-align: bottom;
}

.bloco-vantagens h5 {
    color: #0188c8;
    display: block;
    font: 900 24px/100% "Open Sans", sans-serif;
    letter-spacing: 0;
    margin: 15px 0;
    min-height: 51px;
}

.bloco-vantagens p {
    color: #4c4c4c;
    font: normal 300 15px/18px 'Open Sans', sans-serif;
    margin: 0;
    display: block;
    letter-spacing: 0.05em;
}

.bloco-box.bg-cinza-claro.services-faq {
    padding-bottom: 54px;
}

.bloco-box .titulo-vantagem {
    color: #0088c7;
    font: normal 700 24px/33px 'Open Sans', sans-serif;
    margin: 0 0 50px;
    display: block;
    letter-spacing: 0.05em;
    text-transform: none;
    text-align: center;
}

.bloco-box.bloco-migracao {
    padding-bottom: 60px;
}

#cloud-services .bloco-migracao .titulo-bloco {
    font-size: 36px;
}

#cloud-services .bloco-migracao p.color-inverse {
    font-size: 1.217em;
    font-weight: normal;
    line-height: 120%;
    margin: 15px 0 3px;
    text-align: left;
}

#cloud-services .btn-more.btn-lg {
    font-size: 1.48em;
    margin: 32px auto;
    padding: 12px 28px;
}

#note-woman {
    margin-left: -75px;
}

section .dflex {
    display: flex;
}

section .dflex .fcenter {
    flex: 1;
}

#int-banner h2.kiss {
    font-size: 35px;
    line-height: 43px;
    font-weight: 300;
    margin: 120px 0 25px 0;
}

#int-banner h2.kiss+img {
    position: absolute;
    right: 0;
    bottom: -50px;
    z-index: 1;
}

.bloco-box p.marke-lemon {
    font-size: 27px;
    color: #009238;
    text-transform: uppercase;
    line-height: 33px;
}

.bloco-box p.marke-lemon.small-marke {
    font-size: 21px;
}

.caos {
    color: #94d0ff;
    text-transform: uppercase;
    font-size: 46px;
    line-height: 58px;
    font-weight: 300;
    margin-top: 35px;
}

.list.list-borboleta li {
    display: block;
    margin-bottom: 15px;
    color: #fff;
    letter-spacing: 0.05em;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    padding-left: 31px;
    background: url("../img/borboleta-mark.png") no-repeat top left;
}

.box-passo {
    width: 160px;
    height: 250px;
    float: left;
    margin-right: 35px;
    margin-top: 90px;
    position: relative;
    z-index: 10;
}

.box-passo:last-child {
    margin-right: 0;
}

.box-passo img {
    margin: 0 auto;
    display: block;
}

.box-passo hr {
    margin: 0 auto;
    display: table;
    width: 5px;
    height: 25px;
    border: none;
    background: #fff;
}

.box-passo .box-info {
    background: #fff;
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    text-align: center;
    padding: 15px 0;
    min-height: 106px;
}

.box-passo .box-info h4 {
    font-size: 38px;
    font-weight: 700;
    margin: 0;
}

.box-passo .box-info p {
    font-weight: 400;
    font-size: 14px;
    color: #002549;
    line-height: 18px;
    margin: 0;
    letter-spacing: 0;
}

.box-passo#box1 .box-info h4 {
    color: #8932aa;
}

.box-passo#box2 .box-info h4 {
    color: #36af71;
}

.box-passo#box3 .box-info h4 {
    color: #d7a500;
}

.box-passo#box4 .box-info h4 {
    color: #2befed;
}

.box-passo#box5 .box-info h4 {
    color: #7eaa32;
}

.pontilhado {
    display: inline-block;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 5;
}

.pontilhado#p1 {
    left: 141px;
    top: 130px;
}

.pontilhado#p2 {
    left: 310px;
    top: 159px;
}

.pontilhado#p3 {
    left: 520px;
    top: 133px;
}

.pontilhado#p4 {
    left: 690px;
    top: 160px;
}

.bloco-box .beneficios {
    background: #fff;
    clear: both;
    padding: 45px 0 35px;
    font-size: 35px;
    font-weight: 300;
    color: #009239;
    margin: 0;
    text-align: center;
    letter-spacing: 0;
}

.bloco-box.no-pb {
    padding-bottom: 0;
}

.bloco-box .processo {
    color: #fefefe;
    font-size: 27px;
    line-height: 33px;
    font-weight: 300;
    text-transform: uppercase;
}

.bloco-box .baloon {
    width: 100%;
    height: auto;
    padding: 18px;
    background: #fff;
    border-radius: 8px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: #3aac9d;
    margin: 0;
}

.bloco-box p.titulo-banner-carosel {
    color: #0d65aa;
    font-size: 23px;
    line-height: 27px;
    letter-spacing: 0.05em;
    padding-left: 80px;
    font-weight: 700;
    margin: 0 0 15px;
}

.bloco-box .imagem-banner-carosel {
    width: 100%
}

.bloco-box p.descricao-banner-carosel {
    color: #0d65aa;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: right;
    margin-top: 60px;
    padding-right: 50px;
}

.bloco-box .list-banner-carosel {
    padding-right: 50px;
}

.bloco-box .list-banner-carosel li {
    color: #4c4c4c;
    background: transparent;
    text-align: right;
}

.bloco-box.box-teste h4 {
    color: #ffffff;
    font-size: 58px;
    text-transform: uppercase;
    font-weight: 300;
    margin: -5px 0 0;
    line-height: normal;
}

.bloco-box.box-teste p {
    color: #ffffff;
    font-weight: 300;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.05em;
    margin: 0;
}

.formulario form {
    display: block;
    width: 78%;
    height: auto;
    margin: 0 auto;
}

.campo {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 0 8px;
}

.campo .campo-nome {
    display: block;
    width: 100%;
    color: #71f5e4;
    font-size: 22px;
    letter-spacing: 0.05em;
    font-weight: 300;
}

.campo .campo-dados {
    display: block;
    width: 100%;
    border-radius: 8px;
    border: none;
    padding: 18px;
    font-weight: 400;
    font-size: 15px;
    color: #000;
    background: #e5e5e5;
    outline: none;
    border: transparent solid 2px;
}

.campo .campo-dados:focus {
    border: #2ba700 solid 2px;
}

.formulario {
    background: #0088c7;
}

.formulario .btn-opaque-green {
    font-size: 31px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
    padding: 18px 22px;
    background: #3aac9d;
    color: #fff;
    border: #cce7f4 solid 1px;
    float: right;
    margin: 50px 0 40px;
}

.formulario .btn-opaque-green:hover {
    background: #186d62;
}

.formulario .btn-opaque-green img {
    margin: 0 0 -8px;
}

.campo p {
    font-weight: 300;
    color: #fff;
    font-size: 22px;
    display: inline-block;
    margin: 50px 0 40px;
    line-height: 29px;
    letter-spacing: 0.05em;
    text-align: right;
    width: 48%;
}

.bloco-box.box-conheca h4 {
    text-transform: uppercase;
    font-size: 33px;
    text-align: center;
    color: #fff;
    margin: 0 0 45px;
}

.bloco-box.box-conheca .carrosel {
    background: #fff;
    display: block;
    width: 100%;
    height: 124px;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    margin: -1px 0 -54px;
    position: relative;
}

.bloco-box.box-conheca .carrosel .arrow,
.arrow-blue {
    display: block;
    background: url('../img/arrow-green.jpg') no-repeat;
    position: absolute;
    outline: none;
    width: 27px;
    height: 33px;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.bloco-box.box-conheca .carrosel .carrosel-container {
    display: block;
    width: 88%;
    height: 94px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bloco-box.box-conheca .carrosel ul {
    width: 20000em;
    height: inherit;
    left: 0;
    top: 0;
    position: absolute;
}

.bloco-box.box-conheca .carrosel ul li {
    display: inline-block;
    margin: 0 20px 0 0;
}

.bloco-box.box-conheca .carrosel .arrow#prev,
.arrow-blue#prev-flow {
    left: 25px;
    background-position: top left;
}

.bloco-box.box-conheca .carrosel .arrow#next,
.arrow-blue#next-flow {
    right: 25px;
    background-position: top right;
}

.arrow-blue {
    background: url('../img/arrow-blue.png') no-repeat;
}

.arrow-blue#next-flow {
    right: 0;
}

.arrow-blue#prev-flow {
    left: 0;
}

.bloco-box .sobre {
    background: #e5e5e5;
    width: 100%;
    height: auto;
    padding: 17px 0;
    margin: 0 0 50px;
}

.bloco-box .sobre h2 {
    font-weight: 600;
    font-size: 46px;
    text-transform: uppercase;
    margin: 5px 0 0;
    color: #0088c7;
    letter-spacing: 0;
}

.bloco-box .sobre p {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    margin: 0;
    color: #0088c7;
    letter-spacing: 0.05em;
}

.bloco-box .desc-sobre {
    margin-top: 0;
    padding-right: 25px;
}

.bloco-box .gcloud {
    margin: 4px 0 0;
}

.relative-box {
    position: relative;
}

.scroll-header {
    padding: 0!important;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.scroll-header .logo {
    height: 46px;
    background-size: contain;
    margin-top: 2px;
    margin-bottom: 2px;
}

.scroll-header #menu {
    margin: 3px 0 0 10px;
}

#bannerflow {
    height: 440px;
    width: 100%;
}

#dev {
    font-size: 35px;
    position: absolute;
    top: 0;
    right: -40px;
}

.bloco-box p.text-white {
    font-size: 20px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.4;
}

.bloco-box.box-contato-time img {
    margin-top: -90px;
}

.bloco-box.box-contato-time h2 {
    font-size: 30px;
    font-family: "Open Sans";
    color: rgb(6, 99, 169);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin-top: 40px;
    text-transform: inherit;
}

.bloco-box.box-contato-time a.btn {
    margin: 40px auto 0;
    display: table;
    color: #0088c7;
}

.bloco-box.box-contato-time a.btn:hover {
    color: #fff;
}

.bloco-box.box-contato-time {
    padding-bottom: 0;
}

.bloco-box.bloco-texto {
    padding-bottom: 60px;
}

#int-banner.title-time h2 {
    margin: 110px 0 20px 0;
}

.pessoaMyTeams {
    margin-top: -45px;
    margin-bottom: -35px;
}

#como-funciona {
    padding: 50px 0;
}

#como-funciona h3 {
    font: 700 48px/57px 'Open Sans';
    color: #fff;
    margin: 0;
}

#como-funciona h4 {
    font: 400 18px/normal 'Open Sans';
    color: #fff;
    margin: 0 0 35px;
    text-align: center;
}

#como-funciona .subtitle {
    font: 400 28px/normal 'Open Sans';
    color: #fff;
    text-align: center;
    display: table;
    margin: 0 auto 55px;
    padding: 0 15px 20px;
    text-transform: initial;
    border-bottom: #fff solid 1px;
}

#como-funciona #passo-passo {
    position: relative;
}

#como-funciona #passo-passo .linha-divide {
    position: absolute;
    display: block;
    z-index: 1;
}

#como-funciona #passo-passo .linha-divide.linha1 {
    top: 65px;
    left: 138px;
}

#como-funciona #passo-passo .linha-divide.linha2 {
    top: 124px;
    left: 316px;
}

#como-funciona #passo-passo .linha-divide.linha3 {
    top: 69px;
    right: 331px;
}

#como-funciona #passo-passo .linha-divide.linha4 {
    top: 138px;
    right: 113px;
}

#como-funciona .bloco-passo {
    display: inline-block;
    width: 160px;
    height: auto;
    margin-right: 32px;
    margin-top: 25px;
    vertical-align: top;
    position: relative;
    z-index: 10;
}

#como-funciona .bloco-passo:last-child {
    margin-right: 0;
}

#como-funciona .bloco-passo img {
    display: block;
    margin: 0 auto;
}

#como-funciona .bloco-passo .line {
    width: 4px;
    height: 30px;
    margin: 0 auto;
    border: none;
    background: #fff;
    display: block;
}

#como-funciona .bloco-passo .box {
    background: #fff;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0;
    display: block;
    border-radius: 8px;
}

#como-funciona .bloco-passo .box h6 {
    font: 500 38px/normal 'NeoSansProMedium';
    color: #000;
    display: block;
    margin: 0 0 10px;
    text-align: center;
}

#como-funciona .bloco-passo .box h6.um {
    color: #73c4f9;
}

#como-funciona .bloco-passo .box h6.dois {
    color: #42af75;
}

#como-funciona .bloco-passo .box h6.tres {
    color: #d4a421;
}

#como-funciona .bloco-passo .box h6.quatro {
    color: #8735a6;
}

#como-funciona .bloco-passo .box h6.cinco {
    color: #b52742;
}

#como-funciona .bloco-passo .box p {
    color: #052647;
    font: 400 15px/1.2 'NeoSansPro';
    display: block;
    text-align: center;
    margin: 0;
}

#como-funciona p {
    font: 400 16px/26px 'NeoSansPro';
    color: #fff;
    margin: 0;
}

#como-funciona p strong {
    font-family: 'NeoSansProBold';
    font-weight: 700;
}

#como-funciona .box-monitor {
    width: 100%;
    display: block;
    height: auto;
    border: #fff solid 5px;
    border-radius: 10px;
    background: #f26b34;
    margin: 90px 0 0;
    overflow: hidden;
}

#como-funciona .box-monitor::after {
    content: "";
    display: table;
    clear: both;
    width: 100%;
}

#como-funciona .box-monitor img {
    float: left;
    margin-top: -40px;
    margin-right: 0;
    margin-left: 30px;
}

#como-funciona .box-monitor p {
    text-align: center;
    margin: 25px 0 0;
    color: #fff;
    font: 26px/38px "NeoSansProMedium";
    letter-spacing: -0.005em;
}

#gerenciamento h4,
#gerenciamento h5 {
    font: 36px/48px 'Open Sans';
    color: #175280;
    margin: 0 0 15px;
}

#gerenciamento h5 {
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 50px;
}

#gerenciamento img {
    margin: 0 auto;
    display: block;
}

#gerenciamento h6 {
    font: 700 24px/32px 'Open Sans';
    margin: 20px 0;
    color: #175280;
}

#gerenciamento p {
    font: 400 17px/normal 'Open Sans';
    margin: 0;
    color: #175280;
    padding: 0 15px;
}

#negocios h3 {
    font: 400 36px/normal 'Open Sans';
    color: #175280;
    margin: 0 0 50px;
}

#negocios .col {
    width: 8.5%;
    margin: 0 25px 0;
    height: auto;
    display: block;
    float: left;
    text-align: center;
}

#negocios .col figure {
    width: 100%;
    display: block;
    height: auto;
    margin: 0;
}

#negocios .col figure img {
    margin: 0 auto;
    display: block;
}

#negocios .col figure figcaption {
    font: 14px/normal 'Open Sans';
    color: #83c0e9;
    text-align: center;
    margin: 10px 0 0;
}

#negocios .obs {
    text-align: center;
    font: 300 18px/1.2 'Open Sans';
    margin: 50px 0 80px;
    letter-spacing: 0.03em;
    color: #8b8e91;
}

#negocios p,
#negocios h4 {
    font: 300 25px/1.1 'Open Sans';
    margin: 35px 0;
    color: #0a548f;
}

#negocios h4 {
    font-size: 25px;
}
#container-boxBanner{
    margin: 0;
    padding: 0;
    min-height: 475px;
    width: 100%;
}
#container-boxBanner li{
    display: inline-block;
}
#container-boxBanner h2{
    font: 700 30px/1.1 'Open Sans';
    color: #0a548f;
    letter-spacing: 0.05em;
    text-transform: initial;
    margin-bottom: 35px;
}

#container-boxBanner p{
    font: 300 18px/1.5 'Open Sans';
    color: #666666;
    display: block;
    letter-spacing: 0;
}

#pager-boxBanner {
    text-align: center;
}
#pager-boxBanner a{
    background: #0e82de;
    border: solid 3px #0e82de;
    border-radius: 50%;
    text-indent: -999999px;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 4px;
}
#pager-boxBanner a.activeSlide{
    background:#fff;
}


@media ( min-width: 300px) and (max-width: 940px) {
    #container-boxBanner li img{
        width:100%;
    }
    #container-boxBanner {
        min-height: 645px;
    }
    #int-banner h2 {
        font-size: 40px;
    }
    .breadcumbs span {
        float: left;
        display: block;
        clear: left;
    }
    .bloco-box.box-contato-time h2 {
        text-align: center;
    }
    #dev {
        position: static;
    }
    .app-work {
        margin-bottom: 0;
    }
    #bannerflow {
        height: 674px;
    }
    .bloco-box img.responsive {
        height: auto;
        width: 100%;
        margin: 4px auto;
    }
    section .dflex {
        display: inherit;
    }
    #note-woman {
        margin-left: initial;
    }
    .bloco-box p,
    .text-right,
    .bloco-box div,
    .list-banner-carosel,
    .list-banner-carosel li {
        text-align: center!important;
    }
    .bloco-box p.descricao-banner-carosel {
        padding: 0!important;
        margin-top: 20px;
    }
    .list-banner-carosel li {
        width: auto;
        display: table;
    }
    .list-banner-carosel li br,
    .bloco-box p.descricao-banner-carosel br {
        display: none;
    }
    .pe20 {
        padding: 0;
    }
    .mt-media {
        margin-top: 35px;
    }
    .note-map {
        margin-top: 25px;
        margin-right: 0;
    }
    .note-apps {
        margin-right: 0;
    }
    .condensa {
        width: 100%;
    }
    .itens {
        margin-left: auto !important;
        margin-right: auto !important;
        float: none;
    }
    .bloco-app {
        margin: 0 auto 50px;
        width: 96%;
        min-height: initial;
    }
    .bloco-box .smartphone-app {
        margin: 50px 0 -56px;
    }
    .bloco-vantagens {
        margin: 0 auto 50px !important;
        float: none;
    }
    #kisstable {
        position: static!important;
        width: 100%;
    }
    .pontilhado {
        display: none;
    }
    .box-passo {
        float: none;
        margin: 55px auto!important;
        display: block;
    }
    .formulario form {
        width: 98%;
    }
    .campo p {
        width: 100%;
    }
    .formulario .btn-opaque-green {
        float: none;
        margin: 25px auto 45px;
    }
    .bloco-box.box-conheca .carrosel .carrosel-container {
        width: 64%;
    }
    .bloco-box .gcloud {
        width: 100%;
    }
    .bloco-box p.titulo-banner-carosel {
        margin: 0;
        padding: 0;
    }
}

@media ( min-width: 767px) and (max-width: 940px) {
    .bloco-box .gcloud {
        width: initial;
    }
    .bloco-box .imagem-banner-carosel {
        width: initial;
    }
    #kisstable {
        width: initial;
    }
    .box-passo {
        float: left;
        margin-right: 12%!important;
    }
    .bloco-box img.responsive {
        height: initial;
        width: initial;
    }
    .bloco-vantagens {
        float: left;
        margin: 0 8px 50px !important;
    }
    .bloco-box .section {
        text-align: center;
    }
    .itens {
        float: left;
        margin: 0 15px 50px !important;
    }
    .app-work {
        margin-bottom: 20px;
    }
}

@media (min-width: 320px) and (max-width: 1023px) {
    #como-funciona .bloco-passo {
        display: block;
        margin-left: auto!important;
        margin-right: auto!important;
        margin-top: 50px;
    }
    #como-funciona .box-monitor img {
        float: none;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    #negocios .col {
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: auto;
        margin-bottom: 50px;
    }
}

@media (min-width: 1023px) and (max-width: 1169px) {
    #como-funciona .bloco-passo {
        margin-right: 15px;
        width: 171px;
    }
    #como-funciona .box-monitor img {
        margin-left: 0px;
    }
}