	@font-face {

      font-family: "modoEspiao";
      src: url("viewFront/Digital-7.ttf") format("truetype");

      }


.modoEspiao-font{
    font-family: "modoEspiao";  
    color: #32CD32;
    background: black;
    font-size: 24px;
       } 