html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;




}

.transparente

            {
                opacity: 0.3;
            }
.um {
    background: #333;
    color: white;
    padding: 50px 20px;
    height: 100%;
    /* para falta de suporte */
    
    height: -webkit-calc(100% - 100px);
    /* para Chrome */
    
    height: -moz-calc(100% - 100px);
    /* para Firefox */
    
    height: calc(100% - 100px);
    /* para suporte nativo */
}
#tudo {
    position: relative;
    box-sizing: border-box;
    height: calc(100% - 100px);
    border-style: solid;
    /*border-color: red;*/
    background-color: yellow;
    min-height: 100%;
    

    background: url("img/Earth.png") no-repeat center center fixed;
background-size: 100% 100%;

background-size: cover;

-webkit-background-size: cover; /* SAFARI / CHROME */

-moz-background-size: cover; /* FIREFOX */

-ms-background-size: cover; /* IE */

-o-background-size: cover; /* OPERA */
}

.botao{
    border-radius: 10px;
    font-size: 18px;
    color: white;
    font-family: 'courier';
    background: rgba(0,0,0,0);
}

#mensagem{
    font-size: 36px;
    background: rgba(0,0,0,0.3);
}